body {
  background-color: #dcf9ff;
  color: #333;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

// a {
//   color: rgba(#000, 0.7);

//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

// .middleman-logo {
//   margin-bottom: 1rem;
//   width: 10rem;
// }
