@import "config/colors";
@import "config/fonts";

body {
  background-color: white;
  color: $gray;
  font-family: $body-font;
  font-weight: 400;
  // text-align: center;
  // text-rendering: optimizeLegibility;
}

html {
  // text-rendering: optimizeLegibility;
}

ul {
  list-style: square url("../../images/v3/bullet.png");
  // list-style-position: inside;

  li {
    padding: 5px;
    // margin-left: 10px;
  }
}

textarea:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}


.title-break {
  overflow-wrap: break-word;
  hyphens: manual;
}

.mini-circle {
  display: block;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  left: 15px;
  top: -30px;
}

.medium-circle {
  display: block;
  position: absolute;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  z-index: -1;

}

.large-circle {
  display: block;
  position: absolute;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  z-index: -1;

}


.circle-bg-white {
  background-color: white;
  height: 270px;
  width: 270px;
  border-radius: 50%;
  // display: flex;
  justify-content: center;
  align-items: center;
}

.bg-img-header {
  height: 90vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}





a {
  text-decoration: none;
  // font-size: 18px;
  // color: $blue;
}

a:hover {
  text-decoration: none;
  // font-size: 18px;
  // color: $blue;
}

h1,
h2,
h3,
h4 {
  font-family: $headers-font;
  color: $gray;
  // font-weight: 600;
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 600;
  // font-size: 48px;
  // line-height: 74px;
  /* or 154% */


}

h1 {
  font-size: 48px;
  // letter-spacing: -0.5px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

p {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

small {
  font-size: 15px;
}

.text-9 {
  font-size: 9px;
}

li span {
  font-size: 20px !important;
}


.mobile-hidden {
  display: block;
}

.desktop-hidden {
  display: none;
}

.tablet-mobile-hidden {
  display: block;
}

.tablet-desktop-hidden {
  display: none;
}

@media (max-width: 1200px) {
  // .container {
  //   width: 95vw;
  // }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13.54px;
  }



  p {
    font-size: 17px;
    margin: 0;
    padding: 0;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  .tablet-mobile-hidden {
    display: block;
  }

  .tablet-desktop-hidden {
    display: none;
  }
}

@media (max-width: 1024px) {
  // .container {
  //   width: 95vw;
  // }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13.54px;
  }


  p {
    font-size: 17px;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  .tablet-mobile-hidden {
    display: block;
  }

  .tablet-desktop-hidden {
    display: none;
  }
}

@media (max-width: 768px) {
  // .container {
  //   width: 95vw;
  // }

  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 35px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13.54px;
  }



  p {
    font-size: 17px;
  }

  .mobile-hidden {
    display: block;
  }

  .desktop-hidden {
    display: none;
  }

  .tablet-mobile-hidden {
    display: none;
  }

  .tablet-desktop-hidden {
    display: block;
  }
}

@media (max-width: 760px) {
  // .container {
  //   width: 95vw;
  // }

  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 37px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13.54px;
  }



  p {
    font-size: 17px;
  }

  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  .tablet-mobile-hidden {
    display: none;
  }

  .tablet-desktop-hidden {
    display: block;
  }
}

@media (max-width: 480px) {

  .bg-img-header {
    height: 70vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: fill;
  }


  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 13.54px;
  }



  p {
    font-size: 17px;
  }

  .mobile-hidden {
    display: none;
  }

  .desktop-hidden {
    display: block;
  }

  .tablet-mobile-hidden {
    display: none;
  }

  .tablet-desktop-hidden {
    display: block;
  }

  .mini-circle {

    left: 20px;
    top: -30px;
    border: solid $orange 1px;
  }
}

// a {
//   color: rgba(#000, 0.7);

//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

// .middleman-logo {
//   margin-bottom: 1rem;
//   width: 10rem;
// }
