body {
  background-color: #dcf9ff;
  color: #333;
  font-family: "Roboto";
  font-weight: 400;
  text-align: center;
}

.background-green {
  background-color: #f1fff8;
}

.background-white {
  background-color: white;
}

.background-header {
  background-color: #dcf9ff;
}

.background-lightblue {
  background-color: #f3f6ff;
}

.background-lighterblue {
  background-color: #f1fdff;
}

h1 {
  font-size: 42px;
  font-weight: bold;
  color: #425ba4;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: #425ba4;
}

h3 {
  font-size: 34px;
  font-weight: bold;
  color: #014f99;
}

h4 {
  font-size: 26px;
  font-weight: bold;
  color: #014f99;
}

h5 {
  font-size: 21px;
  font-weight: bold;
  color: #434343;
}

p {
  font-size: 20px;
  color: #425ba4;
}

li span {
  font-size: 20px !important;
}

.body-text-black {
  color: #434343;
}

.body-text-blue {
  color: #425ba4;
}

@media (max-width: 991px) {
  h1 {
    font-size: 35px;
    font-weight: bold;
    color: #425ba4;
  }

  h2 {
    font-size: 28px;
    font-weight: bold;
    color: #425ba4;
  }

  h3 {
    font-size: 25px;
    font-weight: bold;
    color: #014f99;
  }

  h4 {
    font-size: 24px;
    font-weight: bold;
    color: #014f99;
  }

  h5 {
    font-size: 21px;
    font-weight: bold;
    color: #434343;
  }

  p {
    font-size: 20px;
    color: #425ba4;
  }
}

// a {
//   color: rgba(#000, 0.7);

//   &:focus,
//   &:hover {
//     color: rgba(#000, 0.6);
//   }
// }

// .middleman-logo {
//   margin-bottom: 1rem;
//   width: 10rem;
// }
