
<div id="app" class="background-lightblue p-5">
  <div class="container">
    <div class="px-lg-5 py-5">
      <h2 class="text-center">Moderne Psychotherapie braucht moderne Tools</h2>
      <p class="body-text-black font-weight-bold pt-5 text-center text-sm-center text-md-center text-lg-left">Minime ist ein Selbstmonitoring-Assistent der hilft, das Potenzial therapeutischer Übungen zieschen den Sitzungen auszuschöpfen - von der ersten bis zur letzten Therapiestunde und darüber hinaus.</p>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-lg-left text-md-center my-5">
        <h3>Selbst-Monitoring</h3>
        <p class="body-text-black">Digitale Selbstbeobachtung per App</p>
        <p class="body-text-black">Freie Auswahl angepasster Übungen durch Therapeut*innen:</p>
        <ul class="dots">
          <li class="body-text-black"><span>Stimmungs- und Symptomprotokll</span></li>
          <li class="body-text-black"><span>Verhaltensanalyse</span></li>
          <li class="body-text-black"><span>Diary-Card</span></li>
          <li class="body-text-black"><span>Dankbarkeitstagebuch</span></li>
          <li class="body-text-black"><span>5-Spalten Protokoll</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-5 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'phone-sorc.png', class: "phone-vertical" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-5">
        <%= image_tag 'phone-data.png', class: "phone-tilted" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-5 text-lg-right text-md-center ">
        <h3>Gemeinsame Analyse</h3>
        <p class="body-text-black">Einfache visualisierung der Einträge ermöglicht  Auswertung der Daten auf einen Blick innerhalb der Sitzungen:</p>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Therapeutsche Zielsetzung und -anpassung</span></li>
          <li class="body-text-black"><span>Ableiten therapeutischer Übungen</span></li>
          <li class="body-text-black"><span>Evaluation des Fortschritts</span></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-lg-left text-md-center my-5">
        <h3>Psychoedukation</h3>
        <p class="body-text-black">Freigabe störungsspezifischer psychoedukativer Materialien innerhalb der App.</p>
        <p class="body-text-black">Psychoedukative visualisierung der Einträge der Patient’innen ( z.b.  Störungsmodelle und Teufelskreise)</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-lg-left text-md-center my-5 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'phone-chat.png', class: "phone-tilted" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-5">
        <%= image_tag 'phone-privacy.png', class: "phone-vertical pl-5 ml-5" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-5 text-lg-right text-md-center">
        <h3>Safe Space zur Selbstreflektion</h3>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Verschlüsselte Daten (GDPR)</span></li>
          <li class="body-text-black"><span>Datenspeicherung nur für begrenzten Zeitraum</span></li>
          <li class="body-text-black"><span>Übermittlung der Daten nur während der Therapiestunde</span></li>
        </ul>
      </div>
    </div> 
  </div>
</div>



