<div id="app" class="bg-light-blue  py-5">
	<div class="container text-center">
		<div class="p-3">
			<h2 class="my-2 text-center text-white"><%= t(:'index.app_header') %></h2>
			<h3 class="my-2 text-center text-white"><%= t(:'index.app_subheader') %></h3>
			<%= partial "partials/carousel" %>
			<!-- The text field -->
			<a href="https://app.minime.health" class="btn btn-white-ghost btn-minime shadow-none my-4"><%= t(:'buttons.more') %></a>
		</div>
	</div>
</div>
