
<div id="app" class="background-lightblue">
  <div class="container">
    <div class="py-5">
      <h2 class="text-center text-uppercase">Moderne Psychotherapie braucht moderne Tools</h2>
      <p class="body-text-black font-weight-bold pt-5 text-left">Minime ist ein Selbstmonitoring-Assistent, der das Potenzial therapeutischer Übungen zwischen den Sitzungen ausschöpft - von der ersten bis zur letzten Therapiestunde und darüber hinaus.</p>
    </div>
    <div class="row align-items-center px-lg-5 px-xl-5">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-left my-5">
        <h3 class="pb-5">Selbstbeobachtung</h3>
        <p  class="body-text-black">Digitale Selbstbeobachtung per App und mit Hilfe angepasster Übungen, frei ausgewählt durch Therapeut*Innen wie bspw.:</p>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Stimmungs- und Symptomprotokoll</span></li>
          <li class="body-text-black"><span>Verhaltensanalyse</span></li>
          <li class="body-text-black"><span>Diary-Card</span></li>
          <li class="body-text-black"><span>Dankbarkeitstagebuch</span></li>
          <li class="body-text-black"><span>5-Spalten Protokoll</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-lg-left text-md-center my-5 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'phone-sorc.png', class: "phone-vertical" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-lg-left text-md-center my-5">
        <%= image_tag 'ipad-2.png', class: "ipad" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 my-5">
        <h3 class="text-left pb-5">Gemeinsame Analyse</h3>
        <p class="body-text-black text-left">Einfache Visualisierung der Einträge ermöglicht  Auswertung der Daten auf einen Blick innerhalb der Sitzungen</p>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Therapeutsche Zielsetzung und -anpassung</span></li>
          <li class="body-text-black"><span>Ableiten therapeutischer Übungen</span></li>
          <li class="body-text-black"><span>Evaluation des Fortschritts</span></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 text-lg-left text-md-center my-5">
        <h3 class="text-left pb-5">Psychoedukation</h3>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Freigabe störungsspezifischer psychoedukativer Materialien innerhalb der App</span></li>
          <li class="body-text-black"><span>Psychoedukative Visualisierung der Einträge der Patient*Innen ( z.B.  Störungsmodelle und Teufelskreise)</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-lg-left text-md-center my-5 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'phone-chat.png', class: "phone-tilted" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5 text-lg-left text-md-center my-5">
        <%= image_tag 'phone-privacy.png', class: "phone-sec" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-7 col-xl-7 my-5 text-left">
        <h3 class="pb-5">Safe Space zur Selbstreflektion</h3>
        <ul class="dots text-left">
          <li class="body-text-black"><span>Verschlüsselte Daten (DSGVO)</span></li>
          <li class="body-text-black"><span>Datenspeicherung nur für begrenzten Zeitraum</span></li>
          <li class="body-text-black"><span>Datenübermittlung nur während der Therapiestunde</span></li>
        </ul>
      </div>
    </div> 
  </div>
</div>



