<div id="how" class="pt-5">
  <div class="container">
    <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
      <h3 class="mb-4">Wie funktioniert minime?</h3>
    </div>
  </div>
  <div class="bg-app-left">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-12 col-sm-8">
            <%= image_tag 'v3/tasks.svg', class: "w-100" %>
          </div>
          <div class="col-12 col-sm-4">
            <div class="">
              <h4>1. Aufträge festhalten</h4>
              <p>Aufträge in der Therapiestunde direkt festhalten und in der gemeinsamen Verlaufsansicht anzeigen lassen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-app-right">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-12 col-sm-4 order-last order-sm-first">
            <div class="">
              <h4>2. Einträge hinzufügen</h4>
              <p>Als Patient:in zwischen den Sitzungen Gefühle, Gedanken und Verhalten im Alltag jederzeit einfach und spielerisch in der App dokumentieren.</p>
            </div>
          </div>
          <div class="col-12 col-sm-8 order-first order-sm-last">
            <%= image_tag 'v3/entries.svg', class: "w-100" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-app-left">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-12 col-sm-8">
            <%= image_tag 'v3/session.svg', class: "w-100" %>
          </div>
          <div class="col-12 col-sm-4">
            <div class="">
              <h4>3. Gemeinsame Analyse</h4>
              <p>Eine gemeinsame Verlaufsansicht für jedes Patient:innenprofil  zur  Besprechung und Analyse in der Therapistunde - geeignet für die Therapie vor Ort, sowie für Videotherapie.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
