<div class="py-5">
  <div class="container">
    <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
      <h3 class="mb-4">Wie funktioniert minime?</h3>
    </div>
  </div>
  <div class="bg-app-left">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-6">
            <%= image_tag 'v3/tasks.svg', class: "w-100" %>
          </div>
          <div class="col-6">
            <div class="">
              <h4>1. Aufträge festhalten</h4>
              <p>Aufträge in der Therapie oder zwischen Sitzungen direkt festhalten und in der gemeinsamen Verlaufsansicht anzeigen lassen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-app-right">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-6">
            <div class="">
              <h4>1. Aufträge festhalten</h4>
              <p>Aufträge in der Therapie oder zwischen Sitzungen direkt festhalten und in der gemeinsamen Verlaufsansicht anzeigen lassen.</p>
            </div>
          </div>
          <div class="col-6">
            <%= image_tag 'v3/entries.svg', class: "w-100" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-app-left">
    <div class="container my-5">
      <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
        <div class="row my-5 align-items-center">
          <div class="col-6">
            <%= image_tag 'v3/session.svg', class: "w-100" %>
          </div>
          <div class="col-6">
            <div class="">
              <h4>1. Aufträge festhalten</h4>
              <p>Aufträge in der Therapie oder zwischen Sitzungen direkt festhalten und in der gemeinsamen Verlaufsansicht anzeigen lassen.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
