<div class="background-blue pb-5">
  <div  id="app-steps" class="container border-app px-lg-5 py-3">
    <div class="header-grid">
      <div>
        <h1 class="pt-md-5 text-white text-wrap pt-lg-5 text-start text-md-start text-lg-start text-xl-start desktop-hidden">Verhaltens-therapie <br>
          <span class="outline-header">bisher</span>
        </h1>
        <h1 class="pt-md-5 text-white text-wrap pt-lg-5 text-start text-md-start text-lg-start text-xl-start mobile-hidden">Verhaltenstherapie <br>
          <span class="outline-header">bisher</span>
        </h1>
        <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start">Beobachtungen im Alltag werden unvollständig oder unsortiert widergegeben Selbstbeobachtung auf komplexen, unmotivierstarten Papierbögen Analyse in der Sitzung auf Flipcharts.</p>
      </div>
      <div>
        <%= image_tag 'minime.svg', class: "minime pt-5" %>
      </div>
    </div>
    <div class="header-grid">
      <div>
        <%= image_tag 'minime.svg', class: "minime pt-5" %>
      </div>
      <div>
        <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start">In den<br>
          <span class="outline-header">Therapiestunden</span></h1>
        <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start">Online, sowie vor Ort -können nun Therapeut:in und Patient:in individuelle Aufgaben für die Zeit bis zur nächsten Sitzung in der App definieren. Ein Beispiel könnte das tägliche Beobachten von Gedanken sein (Gedankenprotokoll)</p>
      </div>
    </div>
    <div class="header-grid">
      <div>
        <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start">Zwischen den<br>
          <span class="outline-header">Sitzungen</span></h1>
        <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start">Spielerisch können jetzt mit einem Klick Gedanken, Emotionen und Verhaltensweisen festgehalten werden. Alle Einträge sind in einer übersichtlichen Timeline gespeichert.</p>
      </div>
      <div>
        <%= image_tag 'minime.svg', class: "minime pt-5" %>
      </div>
    </div>
    <div class="header-grid">
      <div>
        <%= image_tag 'minime.svg', class: "minime pt-5" %>
      </div>
      <div>
        <h1 class="pt-md-5 text-white pt-lg-5 text-start text-md-start text-lg-start text-xl-start">In der nächsten<br>
          <span class="outline-header">Therapiestunde</span></h1>
        <p class="mt-3 text-white text-start text-md-start text-lg-start text-xl-start"> Einzelne Einträge können in der nächsten Sitzung gemeinsam besprochen, vervollständigt und analysiert werden. Therapeut:in und Patient:in erstellen so gemeinsam eine Verhaltensanalyse. </p>
      </div>
    </div>
  </div>
</div>
