<% link_to "https://wqtw8kexb45.typeform.com/to/zPyrwZ4a" do %>
  <div class="bg-lightorange d-flex justify-content-center ps-5">
    <div class="text-center py-4 container px-0 px-md-3 px-xl-5 d-flex align-items-center">
      <%= image_tag 'v3/banner-minime.png' %>
      <div class="ps-2">
        <h3>Webinar "minime Einführung  & Austausch zu therapeutischen Materialien"</h3>
        <h4 class="mt-2">Für Termine und Anmeldung hier klicken!</h4>
      </div>
    </div>
  </div>
<% end %>