<div class="background-white p-5 text-left">
  <div class="container">
    <div class="container p-5">
      <h2 class="body-header text-center text-uppercase">Weitere Projekte</h2>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-5">
        <%= image_tag 'cards.png', class: "phone-vertical pl-5 ml-5" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-5 d-none d-lg-block d-xl-block text-right">
        <h3 class="header-text-blue font-weight-bold">SICHER</h3>
        <p class="body-text-black">Verschlüsselt alle Daten</p>
      </div>
  </div>
</div>