<div class="background-white p-5 text-left">
  <div class="container">
    <div class="container p-5">
      <h2 class="half-highlight text-left">Folgen</h2>
    </div>
    <div class="container p-5 d-flex">
      <p class="body-text">Vernachlässigung der therapeutischen Hausaufgaben durch Patienten aber auch durch Therapeuten - enormes Potenzial der Therapie bleibt so aktuell weitestgehend ungenutzt!</p>
      <div class="d-none d-lg-block">
        <%= image_tag 'conversation.png', class: "body-image" %>
      </div>
    </div>
  </div>
</div>