<div id="cards" class="background-lighterblue text-left">
  <div class="container p-5">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-center">
        <%= image_tag 'cardgame.png', class: "phone-vertical pl-md-5 pb-5" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
        <h3 class="cards-header text-uppercase font-weight-bold text-left">Kartenspiel</h3>
        <p class="text-left">Endlich ein spielerischer Einstieg in die Verhaltensanalyse! Für alle SORKC-Komponenten gibt es intuitive Symbole, mit denen sich die klassische Verhaltensanalyse unkonventionell erarbeiten lässt. So können Stimulus-Reaktionsmuster kreativ und nachvollziehbar dargestellt und die introspektiven Fähigkeiten der Patient*Innen verfeinert werden.
        Das Kartenset funktioniert nach dem Baukastenprinzip: Je nach Kartenkombination lassen sich Verhaltensanalysen erarbeiten, die Psychoedukation unterstützen, therapeutische Übungen begleiten oder Teufelskreise identifizieren. Die Karten ermöglichen es, spezifische Übungen wie Gedankenüberprüfung und Exposition störungsübergreifend herzuleiten und individuelle Störungsmodelle schrittweise aufzubauen. Zusatzkarten erweitern die Verhaltensanalyse.
        Für das Einzel- und Gruppensetting sowie die Angehörigenarbeit und in allen Therapiephasen geeignet. Mit Dokumentationsbögen online.</p>
        <div class="text-center text-md-left">
          <button type="button" class="mt-3 float-lg-left btn btn-cardgame shadow-none">Mehr erfahren</button>
        </div>
      </div>
  </div>
</div>