<div class="background-green p-5">
  <div class="container">
    <div class="px-lg-5 py-5">
      <h2 class="body-header text-center">KOGNITIVE VERHALTENSTHERAPIE [CBT]</h2>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-3">
        <p class="body-text text-left">Ein zentraler Bestandteil der kognitiven Verhaltenstherapie (KVT) sind regelmäßige Selbstbeobachtungs-Übungen.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'cbt.png', class: "body-image" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3">
        <%= image_tag 'anxiety-quiz.png', class: "body-image" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-lg-left text-md-center my-3">
        <p class="body-text text-left text-lg-right text-xl-right">Patient*Innen werden dazu angeleitet das eigene Erleben und Verhalten im Alltag zu dokumentieren, um Reaktionsmuster zu identifizieren, zu reflektieren und gegebenenfalls zu verändern</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-left my-3">
        <p class="body-text">Bisher gibt es die Vorlagen zumeist nur in Papierform.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'personal_notebook.png', class: "body-image" %>
      </div>
    </div>
  </div>
</div>

<div class="background-white p-5">
<div class="container">
    <div class="px-lg-5 text-left">
      <h2 class="half-highlight">Folgen</h2>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-3">
        <p class="body-text text-left">Vernachlässigung der therapeutischen Hausaufgaben durch Patienten aber auch durch Therapeuten - enormes Potenzial der Therapie bleibt so aktuell weitestgehend ungenutzt!</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'conversation.png', class: "body-image" %>
      </div>
    </div>
  </div>
</div>