<div id="cbt" class="background-white p-5">
  <div class="container">
    <div class="px-lg-5 py-5">
      <h2 class="text-center text-uppercase">Selbstmanagement in der Verhaltenstherapie</h2>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-3 pr-lg-5">
        <p class="text-left">Ein zentraler Bestandteil der kognitiven Verhaltenstherapie (KVT) sind regelmäßige Selbstbeobachtungs-Übungen zwischen den einzelnen Therapiesitzungen, unabhängig davon ob es sich bei den zu behandelnden Problembereichen um Depressionen, Angsterkrankungen, Essstörungen oder andere psychische Erkrankungen handelt.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'session.png', class: "body-image" %>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5 pt-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3">
        <%= image_tag 'anxiety.png', class: "body-image" %>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-lg-left text-md-center my-3 pl-lg-5">
        <p class="text-left text-lg-right text-xl-right">Patient*Innen werden dazu angeleitet, systematisch das eigene Erleben und Verhalten im Alltag zu dokumentieren, um Reaktionsmuster zu identifizieren, zu reflektieren und gegebenenfalls zu verändern.</p>
      </div>
    </div>
    <div class="row justify-content-center align-items-center px-lg-5 pt-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 text-left my-3 pr-lg-5">
        <p>Bisher werden dafür Selbstbeobachtungsbögen in Papierform verwendet und sind im digitalen Zeitalter schlichtweg unpraktisch. Die Folge ist die Vermeidung  der therapeutischen Hausaufgaben.</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 order-first order-sm-first order-md-first order-lg-last order-xl-last">
        <%= image_tag 'logs.png', class: "body-image" %>
      </div>
    </div>
  </div>
</div>

<div class="background-white">
<div class="container p-5 text-left text-lg-center text-xl-center">
    <div class="text-left text-lg-center text-xl-center py-4">
      <h2 class="half-highlight">Das Potenzial</h2>
    </div>
    <div class="circle-container">
      <p class="circle-text">Ein Großteil der therapeutischen Prozesse findet zwischen den Sitzungen statt.
      <br> 
      <br>
      Durch die fehlende Integration dieser wichtigen Therapieelemente bleibt ein enormes Potenzial der Therapie aktuell weitestgehend ungenutzt!</p> 
      <%= image_tag 'circle.png', class: "circle-background d-none d-lg-inline" %>
    </div>
    <div class="d-inline d-lg-none d-xl-none">
      <p class="text-left p-3">Ein Großteil der therapeutischen Prozesse findet jedoch zwischen den Sitzungen statt.
      <br> 
      <br>
      Durch die fehlende Integration dieser wichtigen Therapieelemente (Selbstbeobachtung), bleibt ein enormes Potenzial der Therapie aktuell weitestgehend ungenutzt!</p> 
    </div>
   
    </div>
  </div>