<div class="background-green p-5 text-left">
  <div class="container">
    <div class="container p-5 d-flex">
      <h2></h2>
    </div>
    <div class="container p-5 d-flex">
      <h2 class="font-italic citation">“Therapeutische Hausaufgaben gehören zur Verhaltenstherapie wie die Couch zur klassischen Psychoanalyse”</h2>
      <p class="source font-italic">Meinlschmidt, G., Schneider, S., & Margraf, J. (Hrsg.). (o. J.). Materialien für die Psychotherapie</p>
    </div>
  </div>
</div>