<div class="background-green p-5 text-left">
  <div class="container">
    <div class="container p-5 d-flex">
      <h2 class="half-highlight body-header">Kognitive Verhaltenstherapie [CBT]</h2>
    </div>
    <div class="container p-5 d-flex">
      <p class="body-text">Ein zentraler Bestandteil der kognitiven Verhaltenstherapie (KVT) sind regelmäßige Selbstbeobachtungs-Übungen.</p>
      <div class="d-none d-lg-block">
        <%= image_tag 'cbt.png', class: "body-image" %>
      </div>
    </div>
    <div class="container p-5 d-flex">
      <div class="d-none d-lg-block">
        <%= image_tag 'anxiety-quiz.png', class: "body-image" %>
      </div>
      <p class="body-text text-right">Patient*Innen werden dazu angeleitet das eigene Erleben und Verhalten im Alltag zu dokumentieren, um Reaktionsmuster zu identifizieren, zu reflektieren und gegebenenfalls zu verändern</p>
    </div>
    <div class="container p-5 d-flex">
      <p class="body-text">Bisher gibt es die Vorlagen zumeist nur in Papierform.</p>
      <div class="d-none d-lg-block">
        <%= image_tag 'personal_notebook.png', class: "body-image" %>
      </div>
    </div>
  </div>
</div>