<div class="background-white">
  <div class="container">
    <div class="container p-5">
      <h2 class="font-italic text-left">“Therapeutische Hausaufgaben gehören zur Verhaltenstherapie wie die Couch zur klassischen Psychoanalyse”</h2>
      <p class="source font-italic text-left pt-3">Meinlschmidt, G., Schneider, S., & Margraf, J. (Hrsg.). (o. J.). Materialien für die Psychotherapie</p>
    </div>
  </div>
</div>