<div class="background-green">
  <div class="container py-5">
    <h2 class="font-italic text-start">“Therapeutische Hausaufgaben gehören zur Verhaltenstherapie wie die Couch zur klassischen Psychoanalyse”</h2>
    <p class="source font-italic text-start pt-3">Meinlschmidt, G., Schneider, S., & Margraf, J. (Hrsg.). (o. J.). Materialien für die Psychotherapie</p>
  </div>
</div>
