<div class="py-3">
	<div class="container">
		<div class="px-lg-5 px-3">
			<h3 class="my-lg-5 my-3">Gestalte deinen Arbeitsplatz</h3>
			<div class="container my-5 px-3">
				<div id="team-checks" class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>REMOTE arbeiten</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Mentale Gesundheit auf der Arbeit</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center   ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Freundschaft-liches Team</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 my-3 text-center d-flex justify-content-center ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Verantwortung & Vertrauen</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 my-3 text-center d-flex justify-content-center">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Persönliche & Professionelle Entwicklung</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
