<div id="app" class="background-blue py-5">
  <div class="container  px-lg-5 py-3  text-start">
    <h2 class="outline-header mb-3">FAQ</h2>
    <div class="accordion accordion-flush faq" id="accordionFlushExample">
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Und was macht die App jetzt genau?
          </button>
        </p>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            <ul>
              <li>minime ist ein digitaler Werkzeugkoffer für Therapeut:innen. In diesem Werkzeugkoffer sind die wichtigsten verhaltenstherapeutischen Selbstbeobachtungsprotokolle, wie Stimmungsprokoll, Gefühlsprotokoll, Verhaltensanalyse und andere Bögen spielerisch und interaktiv aufbereitet hinterlegt. Wir nennen diese Bögen in der minime App allerdings Karten (Gefühlskarte, Stimmungskarte…). </li>
              <li>Therapeut:innen können sich in der minime App registrieren (beispielsweise mit dem eigenen Smartphone, mit dem Praxis-Tablet, Laptop oder Klinik-Desktop-PC) und ihre Patient:innen anonym zu einer gemeinsamen Verlaufsdokumentation in zur minime App einladen. </li>
              <li>Patient:innen können zu jeder Zeit mit dem eigenen Smartphone zwischen den Behandlungssitzungen mit nur wenigen Klicks Beobachtungskarten in der gemeinsamen Verlaufsdokumentation hinzufügen. </li>
              <li>In der nächsten Behandlungsstunde können die Einträge dann gemeinsam (jeweils über das eigene Gerät, oder gemeinsam am Bildschirm in der Praxis) besprochen und analysiert werden, egal ob in der Videotherapie oder eben vor Ort in der Praxis. Und das Gute ist, in der minime App können sogar Therapieaufträge als Karten für beide Seiten übersichtlich abgelegt werden. </li>
              <li>Die minime App kann auf allen mobilen Alltagsgeräten und auch am Desktop-PC genutzt werden. Man braucht nur einen Internetbrowser und Internet. </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Was müssen Therapeut:innen für die App bezahlen?
          </button>
        </p>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Die App ist im Starterpaket für immer kostenlos nutzbar. Hier lassen sich zwei Patient:innenprofile erstellen und immer wieder neu belegen (beispielsweise nachdem eine Therapie beendet wurde). Möchte man mehr als zwei Patient:innenprofile gleichzeitig aktivieren, kostet die App für einen gesamten Monat in etwa so viel wie 15 Minuten Behandlungszeit in der Regel vergütet werden - also 29€. Genaueres kannst du in der App herausfinden. Weitere Informationen auf einer gesonderten Preisübersicht findest du bald auch hier auf der Webseite.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Müssen Patient:innen für die App bezahlen?
          </button>
        </p>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Nein! Patient:innen werden anonym zur gemeinsamen minime App über die behandelnde Person eingeladen. Die App ist für Patient:innen kostenlos. Es gibt keine Werbe-Angebote, keine versteckte Datenauswertung und auch keine versteckten In-App Käufe.
          </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Wie verbinde ich mich mit meinen Patient:innen? 
          </button>
        </p>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Das geht ganz einfach. Du musst innerhalb deiner App auf "Patient:in hinzufügen" klicken und dann die Chiffre sowie die Email-Adresse des/der Patient:in eingeben. Mit dem Klick auf "hinzufügen" wird ein Aktivierungslink an diese Adresse gesendet. Über diesen Link wird die Patient:in aufgefordert sich in der App anzumelden. Sollte es doch einmal Probleme geben, meldet euch gerne. Wir finden sicher gemeinsam eine Lösung!</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Muss ich mich als Therapeut:in da jetzt lange einarbeiten?
          </button>
        </p>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Die minime- App funktioniert fast genau so wie ein gewöhnlicher Messenger (WhatsApp, Signal, Threema). Es gibt eine Patient:innenübersicht und eine gemeinsame Verlaufsansicht pro Patient:in. Das wars. Alle Beobachtungen und Aufträge werden in der jeweiligen Verlaufsansicht wie in einem Chat abgelegt. Patient:innen und Therapeut:innen haben eine nahezu identische Ansicht.
            <br>
            <br>
            Aufgepasst: Behandler:innen die mehr als 15 Minuten Zeit benötigen um sich in der App zurechtzufinden, bekommen den ersten Monat für das Basispaket gratis. Der Monatspreis entspricht nämlich in etwa der Vergütung von 15 Minuten Behandlungszeit (bitte vor der Anmeldung zum Basispaket bescheid geben: info@minime.health).</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Woher weiß ich, dass eure Methode funktioniert und nachhaltige Therapieerfolge erzielt?
          </button>
        </p>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Der Einsatz von therapeutischen Übungen für die Zeit zwischen den Sitzungen ist nicht neu. Hausaufgaben sind ein integraler Bestandteil der Verhaltenstherapie. Und das nicht ohne Grund: Zahlreiche Studien bestätigen den Nutzen und den daraus resultierenden Therapieerfolg der kontinuierlichen Selbstbeobachtung. Momentan werden therapeutische Übungen und Hausaufgaben derzeit noch mittels Papierbögen begleitet. Das ändern wir. Mit minime werden therapeutische Hausaufgaben interaktiv und spielerisch. Und man hat sie immer dabei, egal wo, egal wie.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSixhalf">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSixhalf" aria-expanded="false" aria-controls="flush-collapseSixhalf">
            Ich habe Bedenken, dass die minime App meine Patient:innen irgendwie unerwartet beeinflusst!
          </button>
        </p>
        <div id="flush-collapseSixhalf" class="accordion-collapse collapse" aria-labelledby="flush-headingSixhalf" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Die minime App ist ein reines (passives) Dokumentationswerkzeug. Es erfolgt keine Plausibilitätsprüfung von Einträgen. Die Eingaben bleiben zu jeder Zeit unverändert. Es werden keine Einträge der Patient:innen vor den Therapeut:innen verborgen. Es besteht zu jeder Zeit maximale Transparenz bzgl. der eingegebenen Informationen. Alle Daten sind zu jeder Zeit von allen Nutzer:innen unmittelbar löschbar. In der App sind weder Werbung noch In-App-Käufe versteckt.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Wie macht ihr das mit dem Datenschutz?
          </button>
        </p>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Patient:innen können anonym zur minime App eingeladen werden. Wir erfassen weder Namen noch andere sensible Daten der Patient:innen. Wir benötigen lediglich eine Emailadresse um die Einladung zur gemeinsamen minime App an Patient:innen zu versenden. Alle Daten werden verschlüsselt, es werden ausschließlich zertifizierte Server in Deutschland verwendet (ISO/IEC 27001). Solltest du deine Daten komplett löschen wollen, sende uns eine E-Mail an info@minime.health und deine Daten werden innerhalb weniger Tage unwiderruflich gelöscht. </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Bleibt die App jetzt für immer so?
          </button>
        </p>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Wir entwickeln die App ständig weiter. Unser Mitgründer Paul Schneeweiß wünscht sich zum Beispiel für sein eigenes therapeutisches Arbeiten als nächstes eine Skillkarten, Ressourcenkarten, Verhaltenskarten und Zielerreichungskarten. Wir lassen ihn das aber nicht allein entscheiden. Wir holen uns erst von vielen sehr hilfsbereiten und aufgeschlossenen Therapeut:innen Rückmeldungen ob das auch wirklich als nächstes gebraucht wird. Wir freuen uns sehr über regelmäßiges Feedback und Verbesserungsvorschläge.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingNine">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
            Ich bin Patient*in und möchte minime nutzen, was kann ich tun?
          </button>
        </p>
        <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Wie schön, dass du dich so intensiv mit deiner Therapie auseinandersetzt, dass du auf unsere Seite gestoßen bist. Leite unsere Seite gerne direkt and dein/e Therapeut:in weiter und erkläre ihm/ihr direkt, dass du minime gerne in deine Therapie integrieren würdest. Dein/e Therapeut:in kann sich dann bei minime registrieren und dich als Patient:in hinzufügen. Und schon kann's losgehen!  </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingTen">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseTen">
            Warum finde ich euch nicht im Appstore?
          </button>
        </p>
        <div id="flush-collapseTen" class="accordion-collapse collapse" aria-labelledby="flush-headingTen" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Die minime App ist als Web-App programmiert. Das ist im Prinzip eine als App verkleidete Internetseite. Dadurch sparen wir Daten und die App muss nicht extra installiert werden. So kann die minime App auch auf jedem Klinik-Rechner mit Internetanschluss genutzt werden. Die App kann über alle bekannten Internetbrowser über https://www.minime.health/ aufgerufen werden. Auf häufiger genutzten mobilen Endgeräten lässt sich das minime Symbol unproblematisch zum Startbildschirm (oder auch Homescreen) hinzufügen. Zur Nutzung der minime App können Therapeut:innen und Patient:innen beliebig zwischen den mobilen Geräten hin und her wechseln.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingEleven">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEleven" aria-expanded="false" aria-controls="flush-collapseEleven">
            Welche Übungsmaterialien sind in der aktuellen Version der minime App verfügbar?
          </button>
        </p>
        <div id="flush-collapseEleven" class="accordion-collapse collapse" aria-labelledby="flush-headingEleven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">In der aktuellen Version der minime App haben wir eine Auswahl der etabliertesten Selbstbeobachtungsprotokolle spielerisch und interaktiv aufbereitet. Unsere Protokolle nennen wir “Karten”, da wir uns inhaltlich und gestalterisch auf das analoge Therapiekartenset unseres Mitgründers Paul Schneeweiß “Von Teufelskreisen und Glaubenssätzen” beziehen. Das Kartenset ist im Frühjahr 2021 im Beltz-Verlag erschienen. 
            <br>
            <br>
            Bei der Auswahl der Karten orientieren wir uns an den alltäglichen Erfahrungen und Wünschen unserer Therapeut:innen. Wir freuen uns jederzeit über Wünsche und Vorschläge für die nächsten Selbstbeaobchtungskarten.
            <br>
            <br>
            Folgende Selbstbeobachtungskarten, bieten wir derzeit in der minime App an:
            <li>Stimmungskarten</li>
            <li>Spannungskarten</li>
            <li>Positivkarten</li>
            <li>Gefühlskarten</li>
            <li>Gedankenkarten</li>
            <li>Auftragskarten</li>
            <li>Notizkarten</li>
            <li>Alle Karten zur interaktiven Verhaltensanalyse mit ihren einzelnen Komponenten</li>
            <br>
            <br>
            Stimmungskarten:
            Wie geht es mir heute, wie ging es mir vor einem Monat und wie ging es mir vor einem halben Jahr? Die minime Stimmungskarten lassen sich im Alltag in nur drei Klicks ausfüllen. Dadurch ist es möglich auch in stressigen oder energielosen Situationen das eigene Erleben festzuhalten. Durch eine Kommentarfunktion können auf jeder Stimmungskarte (auch im Nachhinein, gemeinsam in der Behandlungsstunde) Auslöser, Gedanken, Aktivitäten oder Strategien für eine Veränderung der jeweiligen Situationen dokumentiert werden.
            <br>
            <br>
            Positivkarten: 
            Wofür bin ich dankbar? Was habe ich mir heute gutes getan? Antworten auf diese und weitere Fragen lassen sich in der minime App täglich auf der Positivkarte dokumentieren. Damit bietet minime einen Ausgangspunkt zur Bewusstmachung von Ressourcen und Stärken im Alltag der Patient:innen. Auf der Basis regelmäßiger positiver Selbstbeobachtungen lassen sich kognitive Interventionen erlebensnah herleiten.
            <br>
            <br>
            Spannungskarten: 
            Entspannung, niedrige-, mittlere-, hohe Anspannung oder auch Hochspannung können auf der Spannungskarte dokumentiert werden. Die wahrgenommene Intensität lässt sich dabei auf einer Intensitätsskala markieren. In einer Kommentarfunktion können Auslöser, Dauer der Anspannung oder auch Strategien für den hilfreichen oder weniger hilfreichen Umgang mit der jeweiligen Anspannung vermerkt werden. Das ist ein unter anderem bedeutsam für die Dialektisch-behavioralen Therapie (DBT).
            <br>
            <br>
            Gefühlskarten: 
            Auf den minime Gefühlskarten können alle Gefühle dokumentiert werden, die es auf der Welt gibt. Wir haben eine kleine Vorauswahl getroffen und uns dabei an dem interaktiven Skillstraining von Auer und Bohus orientiert. Auf einem Freifeld können aber auch eigene Formulierungen und Gefühlsbezeichnungen verwendet werden, wie zum Beispiel das "Gefühl der Leere", oder das "Sonntagsgefühl". Zusätzlich lässt sich die jeweilige Intensität des Gefühls auf einer Skala eintragen. Auf einer Gefühlskarte können selbstverständlich auch mehrere Gefühle abgelegt werden. Darüber hinaus lassen sich Notizen oder Kommentare zu den Gefühlsbeobachtungen formulieren. Dabei kann es sich je nach Auftrag um alternative Gefühlsbewertungen, hilfreiche Strategien oder einfache Situationsbeschreibungen handeln.
            <br>
            <br>
            Gedankenkarten: 
            Auf unseren Gedankenkarten können Gedanken mit nur drei Klicks eingefangen werden. Das hilft ungemein dabei automatische Gedanken, Gedankenketten oder auch Grübelkreisläufe aufzuspüren. Alle Gedanken lassen sich als hilfreich oder weniger hilfreich markieren. Jede Gedankenkarte hat eine Kommentarfunktion in der sich Patient:innen aktiv mit dem jeweiligen Gedanken auseinander setzen, oder auch Strategien für den Umgang mit diesem Gedanken notieren können. Das muss dann auch nicht zu dem Zeitpunkt sein wo der Gedanke aufgetreten ist. Die Kommentarmöglichkeit ist von zentraler Bedeutung für die Akzeptanz- und Commitment-Therapie (ACT), für das Metakognitive Training (MKT) und für das “K” bei KVT.
            <br>
            <br>
            Verhaltensanalysen: 
            Die Verhaltensanalyse nach dem SORKC-Schema ist Ausgangspunkt zahlreicher Selbstbeobachtungsaufgaben in der KVT. In abgewandelter Form ist sie Bestandteil sämtlicher Behandlungsmanuale und gilt oft als Grundlage zur Herleitung eines gemeinsamen Erklärungsmodells. In der minime App wird die Verhaltensanalyse spielerisch selbsterklärend dargestellt. Aufgrund der Digitalisierung durch minime kann sie flexibel eingesetzt werden. Unter anderem ist es möglich zunächst einzelne Komponenten der Verhaltensanalyse aufzuzeichnen. Im Verlauf lassen sich schrittweise weitere Selbstbeobachtungen hinzufügen. Letztlich lassen sich ganze Ereignisketten dokumentieren, vom wahrgenommenen Auslöser über gedankliche, emotionale und verhaltensbezogene Selbstbeobachtungen, bis hin zu den wahrgenommenen Auswirkungen einzelner Verhaltensweisen. 
            <br>
            <br>
            Notizkarten: 
            Gerade am Anfang einer Behandlung fällt es Patient:innen oft schwer Erlebnisse und Eindrücke aus dem Alltag einer spezifischen Karte wie Stimmung, Gefühl, Gedanken oder Verhalten zuzuordnen. Hierfür ist die Notizfunktion sehr praktisch. Patient:innen haben hier die Möglichkeit alles festzuhalten was ihnen in den Sinn kommt. Zudem können Fragen für die nächste Behandlungsstunde notiert werden. Darüber hinaus lassen sich Selbstbeobachtungen festhalten die wir als minime Team mit den aktuellen Karten noch nicht abgedeckt haben (zum Beispiel: Ressourcen, Glaubenssätze, Erlebnisse bei Expositionsübungen). Wir freuen uns sehr über Feedback, Vorschläge und Wünsche für die nächsten Selbstbeobachtung-Karten.
            <br>
            <br>
            Auftragskarten: 
            Selten verlässt ein:e Patient:in ohne einen konkreten Therapieauftrag den Praxisraum. Dabei kann es sich um kleinere Wahrnehmungsaufgaben am Anfang einer Therapie halten oder sogar auch um konkrete Verhaltensexperimente im fortgeschrittenen Behandlungsstadium. Mit den Auftragskarten können Patient:innen, oder auch die Behandler:innen konkrete Aufträge für die Zeit bis zur nächsten Sitzung übersichtlich und zu jeder Zeit abrufbar dokumentieren. Der dokumentierte Auftrag ist oft ein guter Ausgangspunkt für die nächste Behandlungsstunde. Die Auftrags-Funktion hilft die Behandlung übersichtlich zu gestalten. Am Besten ist es, wenn Patient:innen die Aufträge mit ihren eigenen Worten formulieren.
            <br>
            <br>
            Verlaufsansicht: 
            Alle Beobachtungskarten werden in einer chronologischen Verlaufsansicht abgelegt. Diese Verlaufsansicht ist für Behandler:in und Patient:in gleichermaßen sichtbar. Egal ob über Video-Call oder vor Ort in der Behandlungspraxis, mit der minime App sind Erlebnisse aus der Vorwoche bereits zum Beginn einer Behandlungsstunde übersichtlich dargestellt und auswählbar. Mit einer Filterfunktion lassen sich alle Kartentypen einzeln und in Kombination mit anderen Karten über verschiedene Zeiträume anzeigen.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
