<div id="app" class="background-blue py-5">
  <div class="container  px-lg-5 py-3  text-start">
    <h2 class="outline-header mb-3">FAQ</h2>
    <div class="accordion accordion-flush faq" id="accordionFlushExample">
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Der offizielle Markteintritt ist für Ende diesen Jahres geplant. Trag dich gerne in unseren Newsletter ein, um auf dem Laufenden zu bleiben. Dort werden wir auch nach Tester:innen Ausschau halten, die unsere App vorab kostenlos testen möchten. </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Kann man minime schon jetzt testen?
          </button>
        </p>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Noch stecken wir mitten in der Entwicklung unserer App. Wir sprechen und testen aber immer wieder mit Therapeut:innen und Patient:innen, um minime so zu gestalten, wie die App auch wirklich genutzt wird. Wenn du auch zu unseren Tester:innen gehören willst, melde dich gerne zu unserem Newsletter an und wir geben Bescheid, sobald wir eine neue Runde Tests laufen lassen.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Welche Übungsmaterialien sind in der App verfügbar?
          </button>
        </p>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">
            Zunächst konzentrieren wir uns auf das „Herz der Verhaltenstherapie“: die klassische Verhaltensanalyse. Sie wird am häufigsten verwendet und kann mit minime sehr kreativ und flexibel eingesetzt werden. Mit der Verhaltensanalyse lassen sich Gedanken, Emotionen, Auslöser, beobachtbares Verhalten und die daraus folgenden Konsequenzen abbilden. Zusätzlich können Patient:innen ihre aktuelle Stimmung oder auch Grundannahmen festhalten. Die Verhaltensanalyse kann also auch als Gedanken- oder Stimmungsprotokoll genutzt werden. 
            <br>
            <br>
            Aber keine Sorge, nach und nach werden wir zahlreiche weitere Protokolle, und Tagebücher, wie bspw. Gedankenprotokoll, Gefühlsprotokoll, ABC-Schema, Dankbarkeitstagebuch, Expositionsprotokoll, Zielerreichungsskala, Skill-Listen und vieles mehr mit aufnehmen. Wir orientieren uns dabei an den alltäglichen Erfahrungen und Wünschen der Therapeut:innen. Solltest du Vorschläge für weitere Protokolle haben, die du gerne nutzt, so schicke uns diese gerne per E-Mail. Wir freuen uns darauf! 
            <br>
            <br>
            Ausblick: Mit zunehmender Berufserfahrung entwickeln Therapeut:innen oft einen individuellen Stil bei der Erstellung und Vergabe psychotherapeutischer Hausaufgaben. Dies wollen wir mit minime unbedingt berücksichtigen. Längerfristig wird es möglich sein, mit wenigen Klicks, eigene Protokolle spielerisch anzupassen, zu archivieren und mit anderen Therapeut:innen zu teilen.
          </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Wie verbinde ich mich mit meinen Patient:innen? 
          </button>
        </p>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Das geht ganz einfach. Du musst innerhalb deiner App auf "Patient:in hinzufügen" klicken und dann die Chiffre sowie die Email-Adresse des/der Patient:in eingeben. Mit dem Klick auf "hinzufügen" wird ein Aktivierungslink an diese Adresse gesendet. Über diesen Link wird die Patient:in aufgefordert sich in der App anzumelden. Sollte es doch einmal Probleme geben, meldet euch gerne. Wir finden sicher gemeinsam eine Lösung!</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Wie sicher sind die Daten meiner Patient:innen?
          </button>
        </p>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Eure Daten sind bei uns sicher. Zudem sammeln wir so wenig Daten wie möglich, beispielsweise fragen wir weder den Namen noch andere Daten der Patient:innen aktiv ab, einzig eine Email-Adresse muss angegeben werden. Alle Daten liegen auf Servern in Deutschland, die nach den gängigen Standards im Gesundheitsbereich abgesichert und verschlüsselt sind. Unser Ziel ist es, die stets etabliertesten Methoden zu verwenden. Solltest du deine Daten komplett löschen wollen, sende uns eine E-Mail an info@minime.health und deine Daten werden innerhalb weniger Tage unwiderruflich gelöscht. </div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Woher weiß ich, dass eure Methode funktioniert und nachhaltige Therapieerfolge erzielt?
          </button>
        </p>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Der Einsatz von therapeutischen Übungen für die Zeit zwischen den Sitzungen ist nicht neu. Hausaufgaben sind ein integraler Bestandteil der Verhaltenstherapie. Und das nicht ohne Grund: Zahlreiche Studien bestätigen den Nutzen und den daraus resultierenden Therapieerfolg der kontinuierlichen Selbstbeobachtung. Momentan werden therapeutische Übungen und Hausaufgaben derzeit noch mittels Papierbögen begleitet. Das ändern wir. Mit minime werden therapeutische Hausaufgaben interaktiv und spielerisch. Und man hat sie immer dabei, egal wo, egal wie.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Ich bin Patient*in und möchte minime nutzen, was kann ich tun?
          </button>
        </p>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Wie schön, dass du dich so intensiv mit deiner Therapie auseinandersetzt, dass du auf unsere Seite gestoßen bist. Leite unsere Seite gerne direkt and dein/e Therapeut:in weiter und erkläre ihm/ihr direkt, dass du minime gerne in deine Therapie integrieren würdest. Dein/e Therapeut:in kann sich dann bei minime registrieren und dich als Patient:in hinzufügen. Und schon kann's losgehen!  </div>
        </div>
      </div>
    </div>
  </div>
</div>
