<div id="app" class="background-blue py-5">
  <div class="container p-5 text-start">
    <h2 class="outline-header mb-3">FAQ</h2>
    <div class="accordion accordion-flush faq" id="accordionFlushExample">
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFour">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingFive">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSix">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingSeven">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
      <div class="accordion-item faq-item">
        <p class="accordion-header" id="flush-headingEight">
          <button class="accordion-button collapsed faq-question" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
            Wann kommt ihr auf den Markt?
          </button>
        </p>
        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the class. This is the first item's accordion body.</div>
        </div>
      </div>
    </div>
  </div>
</div>
