<footer id="footer" class="background-blue pt-lg-5">
  <div class="container px-lg-5 py-5 mb-4">
    <div class="footer-grid text-lg-start text-center">
      <div>
        <%= image_tag 'white_seal.svg', :class => "logo-footer" %>
        <div class="minime-claim my-4">DIE DIGITALE THERAPIEBEGLEITUNG</div>
        <a href="https://www.linkedin.com/company/minime-health" target="_blank" class="text-white">
          <%= image_tag 'linkedin_round.svg', :class => "social-icons" %></a>
        <a href="mailto:INFO@MINIME.HEALTH?subject=Nachricht von der MINIME Webseite" class="text-white"> <%= image_tag 'email_round.svg', :class => "social-icons" %></a>
      </div>
      <div class="footer-sub-grid text-start">
        <div>
          <h4 class="text-white mb-3">App</h4>
          <a href="#how">
            <p class="text-white">Für Therapeut:innen</p>
          </a>
          <a href="#patients">
            <p class="text-white">Für Patient:innen</p>
          </a>
        </div>
        <div>
          <h4 class="text-white mb-3">Unternehmen</h4>
          <a href="#team">
            <p class="text-white">Über Uns</p>
          </a>
          <a href="#partners">
            <p class="text-white">Partner</p>
          </a>
        </div>
        <div>
          <h4 class="text-white mb-3">WISSEN</h4>
          <a href="#app-steps">
            <p class="text-white">Therapeutische Übungen</p>
          </a>
        </div>
        <div>
          <h4 class="text-white mb-3">Rechtliches</h4>
          <a href='/impressum' target="_blank">
            <p class="text-white">Impressum</p>
          </a>
          <a href='/datenschutz' target="_blank">
            <p class="text-white">Datenschutz</p>
          </a>
        </div>
      </div>
      <div class="text-start">
        <h4 class="text-white mb-3">Kontakt</h4>
        <div class="mb-3">
          <a href="mailto:INFO@MINIME.HEALTH?subject=Nachricht von der MINIME Webseite" class="text-white">info@minime.health</a>
        </div>
        <div>
          <a href="tel:+491793290246" class="text-white">+49 179 3290246</a>
        </div>
        <p class="text-white mt-3">minime health c/o Vision Health Pioneers<br>
          Wöhlertstr. 14<br>
          10115 Berlin</p>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center py-4 background-transparent">
    <p class="text-copyright">Copyright © 2021 minime - All Rights Reserved.</p>
  </div>
</footer>
