<footer>
  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-1 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">LOGO</div>
    </div>
    <div class="col-sm-9 col-md-8 text-md-left text-sm-center my-3">
      <div class="text-white">MINI.ME</div>
      <div class="text-white">DEINE DIGITALE THERAPIEBEGLEITUNG</div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">PRODUKTE</div>
      <div class="text-white">KARTENSPIEL</div>
      <div class="text-white">APP</div>
    </div>
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">RECHTLICHES</div>
      <div class="text-white">IMPRESSUM</div>
      <div class="text-white">DATENSCHUTZ</div>
    </div>
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">KONTAKT</div>
      <div class="text-white">INFO@MINIME.HEALTH</div>
    </div>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">UNTERNEHMEN</div>
      <div class="text-white">ÜBER UNS</div>
      <div class="text-white">PARTNER</div>
    </div>
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center">
      <div class="text-neon mb-2"></div>
    </div>
    <div class="col-sm-9 col-md-3 text-md-left text-sm-center my-3">
      <div class="text-neon mb-2">SUBSCRIBE</div>
      <div class="text-white">NEWSLETTER</div>
    </div>
  </div>
</footer>