<footer>
  <div class="container">
    <div class="container p-4">
      <div class="row justify-content-center mb-3 align-items-end px-lg-5 mx-lg-5">
        <div class="col-sm-12 col-md-12 col-lg-3 col-xl-2 text-lg-left text-md-center my-3">
            <%= image_tag 'minime_logo.png', :class => "logo-footer" %>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-10 text-lg-left text-md-center my-3 d-none d-lg-block d-xl-block
      ">
          <div class="text-white">MINI.ME</div>
          <div class="text-white">DEINE DIGITALE THERAPIEBEGLEITUNG</div>
        </div>
      </div>
      <div class="row justify-content-center px-lg-5 mx-lg-5">
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3">
          <div class="text-neon mb-2">APP</div>
          <div class="text-white">Für Therapeut*Innen</div>
          <div class="text-white">Für Patient*Innen</div>
        </div>
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3">
          <div class="text-neon mb-2">RECHTLICHES</div>
          <div class="text-white">IMPRESSUM</div>
          <div class="text-white">DATENSCHUTZ</div>
        </div>
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3">
          <div class="text-neon mb-2">KONTAKT</div>
          <div class="text-white">INFO@MINIME.HEALTH</div>
        </div>
      </div>
      <div class="row justify-content-center mt-3 px-lg-5 mx-lg-5">
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3 ">
          <div class="text-neon mb-2">UNTERNEHMEN</div>
          <div class="text-white">ÜBER UNS</div>
          <div class="text-white">PARTNER</div>
        </div>
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3">
          <div class="text-neon mb-2">WISSEN</div>
          <div class="text-white">CBT</div>
          <div class="text-white">NOTFALL</div>
        </div>
        <div class="col-sm-12 col-md-4 text-md-left text-sm-center my-3">
          <div class="text-neon mb-2">NEWSLETTER</div>
          <button type="button" class="float-lg-left btn btn-lg btn-primary btn-subscribe">Jetzt anmelden!</button>
        </div>
      </div>
    </div>
  </div>
  

  <div class="d-flex justify-content-center">
    <div class="py-5 text-copyright">Copyright © 2021 mini.me - All Rights Reserved.</div>
  </div> 

        
</footer>