<footer>
  <div class="container">
    <div class="row text-left">
      <div class="col-4 col-sm-3 col-md-3 col-lg-3 col-xl-2 my-3">
          <%= image_tag 'minime_logo.png', :class => "logo-footer" %>
      </div>
      <div class="col-8 col-sm-9 col-md-9 col-lg-9 col-xl-10 text-left my-3">
        <div class="text-pink">MINI.ME</div>
        <div class="text-pink">DEINE DIGITALE THERAPIEBEGLEITUNG</div>
      </div>
    </div>
    <div class="row text-left">
      <div class="col-sm-12 col-md-4 mt-5 mb-3 my-md-3 my-lg-3 my-xl-3">
        <div class="text-neon mb-2">APP</div>
        <div class="text-white text-uppercase">Für Therapeut*Innen</div>
        <div class="text-white text-uppercase">Für Patient*Innen</div>
      </div>
      <div class="col-sm-12 col-md-4 my-3">
        <div class="text-neon mb-2">RECHTLICHES</div>
        <div class="text-white">IMPRESSUM</div>
        <div class="text-white">DATENSCHUTZ</div>
      </div>
      <div class="col-sm-12 col-md-4 my-3">
        <div class="text-neon mb-2">KONTAKT</div>
        <div class="text-white">INFO@MINIME.HEALTH</div>
      </div>
    </div>
    <div class="row mt-3 text-left">
      <div class="col-sm-12 col-md-4 my-3 ">
        <div class="text-neon mb-2">UNTERNEHMEN</div>
        <div class="text-white">ÜBER UNS</div>
        <div class="text-white">PARTNER</div>
      </div>
      <div class="col-sm-12 col-md-4 my-3">
        <div class="text-neon mb-2">WISSEN</div>
        <div class="text-white">CBT</div>
      </div>
      <div class="col-sm-12 col-md-4 mt-5 mb-3 my-md-3 my-lg-3 my-xl-3 text-left ">
        <div class="text-neon mb-2 d-none d-sm-none d-md-block d-lg-block d-xl-block">NEWSLETTER</div>
        <button type="button" class="float-lg-left btn btn-newsletter shadow-none d-none d-sm-none d-md-block d-lg-block d-xl-block">Jetzt anmelden!</button>
        <button type="button" class="float-lg-left btn btn-newsletter shadow-none d-block d-sm-block d-md-none d-lg-none d-xl-none">Jetzt Newsletter erhalten!</button>
      </div>
    </div>
  </div>
  

  <div class="d-flex justify-content-center">
    <div class="pb-2 text-copyright">Copyright © 2021 mini.me - All Rights Reserved.</div>
  </div> 

        
</footer>