<div id="header" class="header background-header">
  <div class="container p-5 border-header">
    <div class="header-grid pt-5 my-5">
      <div>
        <h1 class="pt-md-5 pt-lg-5 text-start text-md-start text-lg-start text-xl-start">Moderne Psychotherapie braucht moderne Tools</h1>
        <p class="mt-3 text- text-md-start text-lg-left text-xl-left">minime bringt Therapie und Alltag zusammen - spielerisch und interaktiv. Therapeut*innen und ihre Patient*innen können nun das volle Potenzial der Verhaltenstherapie ausschöpfen.</p>
        <div class="text-start text-md-start text-lg-left text-xl-left"><a href="#app"><button type="button" class="my-3 float-lg-left btn btn-app shadow-none icon-arrow-right">Jetzt mehr erfahren!</button></a>
        </div>
      </div>
      <div>
        <%= image_tag 'minime.svg', class: "minime pt-5" %>
      </div>
    </div>
  </div>
</div>
