

<div class="header background-header">
  <div class="container">
    <div class="row justify-content-center align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 my-3 pr-lg-5">
        <h1 class="pt-lg-5 pr-5 text-left">Moderne <span class="half-highlight">Psychotherapie</span> braucht moderne <span class="half-highlight">Tools</span></h1>
        <p class="mt-3 pr-5 text-left">Digitale Selbstbeobachtungsbögen, übersichtliche Reflexion therapeutischer Übungen und Ziele, sowie ergänzende Psychoeduaktion in nur einer App: minime</p>
        <a href="#app"><button type="button" class="my-3 float-lg-left btn btn-app shadow-none">MEHR ERFAHREN</button></a>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-lg-left text-md-center my-3 d-none d-lg-inline d-xl-inline">
        <%= image_tag 'minime.png', class: "header-image" %>
      </div>
    </div>
  </div>
</div>