<div id="header" class="header background-header mobile-hidden">
  <div class="container pt-5 border-header position-relative">
    <div class="px-lg-5 px-3 header-grid">
      <div class="header-space">
        <h1 class="text-start text-md-start text-lg-start text-xl-start">Moderne Psychotherapie braucht moderne Tools</h1>
        <p class="block-text text-start text-md-start text-lg-left text-xl-left">minime bringt Therapie und Alltag zusammen - spielerisch und interaktiv. Therapeut:innen und ihre Patient:innen können nun das volle Potenzial therapeutischer Hausaufgaben ausschöpfen.</p>
        <div class="text-start text-md-start text-lg-left text-xl-left mt-5">
          <button type="button" class="float-lg-left btn btn-app shadow-none d-none d-sm-none d-md-block d-lg-block d-xl-block" data-bs-toggle="modal" data-bs-target="#exampleModal">Jetzt mehr erfahren!</button>
        </div>
      </div>
      <div>
        <%= image_tag 'banner.svg', class: "minime" %>
      </div>
    </div>
  </div>
  <%= partial "partials/newsletter" %>
</div>
<div id="header" class="header background-header desktop-hidden">
  <div class="container border-header">
    <div class="px-3 position-relative">
      <h1 class="text-start padding-y">Moderne <span class="normal">Psychotherapie </span>braucht moderne Tools</h1>
      <div class="header-image-space mb-4">
        <%= image_tag 'banner.svg', class: "minime" %>
      </div>
      <p class="mt-5 text-start text-md-start text-lg-left text-xl-left">minime bringt Therapie und Alltag zusammen - spielerisch und interaktiv. Therapeut:innen und ihre Patient:innen können nun das volle Potenzial therapeutischer Hausaufgaben ausschöpfen.</p>
      <div class="text-start pt-3">
        <button type="button" class="btn btn-app shadow-none" data-bs-toggle="modal" data-bs-target="#mobilenewsletterModal">Jetzt mehr erfahren!</button>
      </div>
    </div>
  </div>
  <%= partial "partials/newsletter-mobile" %>
</div>
