<div class="background-blue-long-right my-5 py-5">
	<div class="container">
		<div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
			<h3 class="my-4 text-start">Wie integriere ich minime in meine Therapie?</h2>
			<div class="row mt-4 align-items-start align-items-lg-center">
				<div class="col-0 col-lg-6">
					<%= image_tag 'v3/patients.png', class: "d-none d-lg-block w-100" %>
				</div>
				<div class="my-3 col-12 col-sm-4 col-lg-2">
					<div class="text-center cards-how bg-white rounded-3 px-3 py-4 px-2 drop-shadow">
						<div class="elli-long-blue mb-3">
							<%= image_tag 'v3/register.svg', class: "patient-icon" %>
						</div>
						<p>Kostenlos registrieren</p>
					</div>
				</div>
				<div class="my-3 col-12 col-sm-4 col-lg-2">
					<div class="text-center cards-how bg-white rounded-3 px-3 py-4 px-2 drop-shadow">
						<div class="elli-long-blue mb-3">
							<%= image_tag 'v3/mail.svg', class: "patient-icon" %>
						</div>
						<p>Patient:innen einladen</p>
					</div>
				</div>
				<div class="my-3 col-12 col-sm-4 col-lg-2">
					<div class="text-center cards-how bg-white rounded-3 px-3 py-4 px-2 drop-shadow">
						<div class="elli-long-blue mb-3">
							<%= image_tag 'v3/add.svg', class: "patient-icon" %>
						</div>
						<p>...
							und loslegen!
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
