<div class="container">
	<div class="px-lg-5 px-3">
		<h2 class="my-3">Komm zu uns!</h2>
		<p>Komm ins Team und gestalte mit uns gemeinsam deinen perfekten Arbeitsplatz. Wir wollen nicht nur ein nachhaltiges Produkt auf den Markt bringen, sondern auch einen gesunden Arbeitsplatz für alle Mitarbeitenden schaffen. Deine Chance! </p>
		<div class="row mt-4">
			<div class="col-12 col-sm-6 mt-3">
				<div class="accordion shadow" id="accordionExample">
					<div id="free-pos" class="accordion-item">
						<h2 class="" id="headingOne">
							<button id="acc-btn" class="rounded-3 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<div class="d-flex align-items-center justify-content-between flex-grow-1">
									<h4>Marketing Intern</h4>
									<%= image_tag 'v3/minime-purple.svg', class: "icon px-lg-5 px-3 px-xl-5" %>
								</div>
							</button>
						</h2>
						<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
							<div class="accordion-body">
								<p class="my-3"><strong>Vollzeit, Berlin/remote</strong></p>
								<p class="my-3"><strong>Du bist ...</strong></p>
								<ul class="features">
									<li>Neugierig </li>
									<li>Social-Media erprobt</li>
									<li>Kreativ</li>
									<li>Motiviert</li>
								</ul>
								<p class="my-3"><strong>Du willst ...</strong></p>
								<ul class="features">
									<li>Verantwortung für alle Social-Media Kanäle haben</li>
									<li>dich in neue Kanäle einarbeiten</li>
									<li>Marketing Strategien entwickeln</li>
									<li>Content zum Thema Verhaltenstherapie erstellen</li>
									<li>viel lernen</li>
								</ul>
								<p class="my-3"><strong>Du erwartest ...</strong></p>
								<ul class="features">
									<li>hohe Eigenverantwortung</li>
									<li>verantwortungsvolle Aufgaben</li>
									<li>Vertrauen in deine Arbeit</li>
									<li>gesunde Arbeitszeiten</li>
									<li>ein unterstützendes Team</li>
									<li>viele Gestaltungsmöglichkeiten</li>
								</ul>
								<div class="d-flex justify-content-center my-3">
									<a href="https://wqtw8kexb45.typeform.com/to/xo3y5tB5" type="button" class="btn btn-neon-green btn-minime shadow-none mt-3">Jetzt bewerben!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-sm-6 mt-3">
				<div class="accordion shadow" id="accordionPos2">
					<div id="free-pos" class="accordion-item">
						<h2 class="" id="headingOne">
							<button id="acc-btn" class="rounded-3 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
								<div class="d-flex align-items-center justify-content-between flex-grow-1">
									<h4>Dein Traumjob</h4>
									<%= image_tag 'v3/minime-yellow.svg', class: "icon px-lg-5 px-3 px-xl-5" %>
								</div>
							</button>
						</h2>
						<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPos2">
							<div class="accordion-body">
								<p class="my-3"><strong>Vollzeit, Berlin/remote</strong></p>
								<p class="my-3"><strong>Du bist ...</strong></p>
								<ul class="features">
									<li>Neugierig </li>
									<li>Empathisch</li>
									<li>Motiviert</li>
								</ul>
								<p class="my-3"><strong>Du willst ...</strong></p>
								<p>...deinen Traumjob kreieren? Kein Problem. Wir sind gespannt! Erzähl doch mal, welche Position fehlt uns noch hier bie minime? Und warum bist du die richtige Person für den Job? Ganz frei heraus: Wie sähe dein bestmöglicher Arbeitsplatz aus? </p>
								<p class="my-3"><strong>Du erwartest ...</strong></p>
								<ul class="features">
									<li>hohe Eigenverantwortung</li>
									<li>verantwortungsvolle Aufgaben</li>
									<li>Vertrauen in deine Arbeit</li>
									<li>gesunde Arbeitszeiten</li>
									<li>ein unterstützendes Team</li>
									<li>viele Gestaltungsmöglichkeiten</li>
								</ul>
								<div class="d-flex justify-content-center my-3">
									<a href="https://wqtw8kexb45.typeform.com/to/xo3y5tB5" type="button" class="btn btn-neon-green btn-minime shadow-none mt-3">Jetzt bewerben!</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
