<nav id="nb" class="navbar shadow-sm navbar-expand-lg fixed-top navbar-light bg-light background-white px-lg-5">
  <div class="container px-lg-5">
    <a class="navbar-brand color-dark" href="#"><%= image_tag 'minime_logo.png', :class => "logo" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <i id="grid" class="bi bi-grid-fill"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-lg-0">
        <li class="text-right">
          <a href="#"><span class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i id="close" class="bi bi-x"></i></span></a>
        </li>
        <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#app">Unsere Lösung</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#team">Unser Team</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link" href="#footer">Kontakt</a>
        </li>
        <li class="nav-item rest-links" data-toggle="collapse" data-target=".navbar-collapse.show">
          <%= link_to 'DATENSCHUTZ', '/datenschutz', class: "nav-link not-desktop" %>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
          <%= link_to 'IMPRESSUM', '/impressum', class: "nav-link not-desktop" %>
        </li>
      </ul>
      <%# <button class="btn btn-app my-3 px-5 py-3 my-sm-0" type="submit" tabindex="-1">Download App</button> %>
    </div>
  </div>
</nav>
