<div id="nb" class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <% link_to "/#" do %>
      <%= image_tag 'logos/logo.svg', :class => "logo" %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-end" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
        <li class="text-right">
          <a href="#"><span class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".navbar-collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><i id="close" class="bi bi-x"></i></span></a>
        </li>
        <a class="nav-link" href="/">
          <li class="nav-item active">
            Home
          </li>
        </a>
        <a class="nav-link" href='/team'>
          <li class="nav-item active">
            Über uns
          </li>
        </a>
        <a class="nav-link" href="/#prices">
          <li class="nav-item active">
            Preise
          </li>
        </a>
        <a class="nav-link not-desktop" href="/datenschutz">
          <li class="nav-item active">
            Datenschutz
          </li>
        </a>
        <a class="nav-link not-desktop" href="/impressum">
          <li class="nav-item active">
            Impressum
          </li>
        </a>
        <div class="my-5 my-md-0">
          <a href="https://app.minime.health" class="btn btn-aperol shadow-none">Jetzt starten!</a>
        </div>
      </ul>
    </div>
  </div>
</div>
