<nav id="nb" class="navbar navbar-expand-lg fixed-top navbar-light bg-light background-white px-lg-5">
  <div class="container px-lg-5">
    <a class="navbar-brand color-dark" href="#"><%= image_tag 'logo_mobile.png', :class => "logo" %></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <i id="grid" class="bi bi-grid-fill"></i>
      
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="text-right">
          <a href="#"><span class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id='close'><i id="close" class="bi bi-x"></i></span></a>
        </li>
        <li class="nav-item active" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link text-uppercase" href="#app">Unsere Lösung<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link text-uppercase" href="#therapists">Für Therapeut*Innen</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link text-uppercase" href="#team">Unser Team</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link text-uppercase" href="#footer">Kontakt</a>
        </li>
        <li class="nav-item rest-links" data-toggle="collapse" data-target=".navbar-collapse.show">
          <a class="nav-link not-desktop text-uppercase" href="#footer">Datenschutz</a>
        </li>
        <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.show" >
          <a class="nav-link not-desktop text-uppercase" href="#footer">Impressum</a>
        </li>
      </ul>   
    
      <%# <button class="btn btn-app my-3 px-5 py-3 my-sm-0" type="submit" tabindex="-1">Download App</button> %>


    </div>
  </div>
  
</nav>