<div id="nb" class="navbar navbar-expand-md sticky-top navbar-light navbar-lewagon py-2 background-white">
	<% location = current_page.path %>
	<% if location == "index.html" %>
		<% classes = "nav-item active" %>
	<% elsif location == "fachkreise.html" %>
		<% classes = "nav-item active" %>
	<% elsif location == "team.html" %>
		<% classes = "nav-item active" %>
	<% end %>
	<div class="container-fluid px-0 px-md-3 px-xl-5 mx-0 mx-md-3 mx-xl-5">
		<% link_to "/#", class: "ms-0 ps-3 ms-xl-5 ps-xl-5" do %>
			<%= image_tag 'logos/logo.svg', :class => "logo" %>
		<% end %>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-end me-0 pe-0 me-xl-5 pe-xl-5" id="navbarTogglerDemo02">
			<ul id="nav-ul" class="navbar-nav me-auto mb-2 mb-lg-0 text-center">
				<li class="text-right">
					<a href="#"><span class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target=".navbar-collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation"><i id="close" class="bi bi-x"></i></span></a>
				</li>
				<% if location == "index.html" %>
					<a class="nav-item active" href="/">
					<% else %>
						<a class="nav-item" href="/">
						<% end %>
						<li class="nav-link">
							Home
						</li>
					</a>
					<a class="nav-item" href="https://blog.minime.health/">
						<li class="nav-link">
							Magazin
						</li>
					</a>
					<% if location == "team.html" %>
						<a class="nav-item active" href='/team'>
						<% else %>
							<a class="nav-item" href='/team'>
							<% end %>
							<li class="nav-link">
								Über uns
							</li>
						</a>
						<% if location == "preise.html" %>
							<a class="nav-item active" href='/preise'>
							<% else %>
								<a class="nav-item" href='/preise'>
								<% end %>
								<li class="nav-link">
									Preise
								</li>
							</a>
							<% if location == "fachkreise.html" %>
								<a class="nav-item active" href='/fachkreise'>
								<% else %>
									<a class="nav-item" href='/fachkreise'>
									<% end %>
									<li class="nav-link">
										Fachkreise
									</li>
								</a>
								<a class="nav-item not-desktop" href="/datenschutz">
									<li class="nav-link">
										Datenschutz
									</li>
								</a>
								<a class="nav-item not-desktop" href="/impressum">
									<li class="nav-link">
										Impressum
									</li>
								</a>
								<div class="my-5 mx-3 my-md-0">
									<a href="https://app.minime.health" class="btn btn-aperol shadow-none">Jetzt starten!</a>
								</div>
							</ul>
						</div>
					</div>
				</div>
