<nav id="nb" class="navbar navbar-expand-lg fixed-top navbar-light bg-light p-3 background-invisible">
  <a class="navbar-brand color-linen" href="#">Mini.Me</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link color-linen" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-linen" href="#">Team</a>
      </li>
      <li class="nav-item">
        <a class="nav-link color-linen" href="#" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>   
   
    <button class="btn btn-app my-3 px-5 py-3 my-sm-0" type="submit" tabindex="-1">Download App</button>


  </div>
</nav>