<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content background-news">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">MINIME NEWSLETTER</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://health.us7.list-manage.com/subscribe/post?u=2878e7a6ac11b54a0e10efca1&amp;id=354b9a76fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
          
        <div class="indicates-required"><span class="asterisk">*</span> Pflichtfeld</div>
        <div class="mc-field-group">
          <label for="mce-FNAME">Vorname  <span class="asterisk">*</span>
        </label>
          <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
        </div>
        <div class="mc-field-group">
          <label for="mce-EMAIL">Deine Mail-Adresse  <span class="asterisk">*</span>
        </label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
        </div>
        <div class="mc-field-group input-group pt-3">
            <strong>AGB &amp; Datenschutz </strong>
            <ul><li><input type="checkbox" value="1" name="group[78860][1]" id="mce-group[78860]-78860-0"><label for="mce-group[78860]-78860-0" class="pl-1">Ich habe die <%= link_to "AGBs und die Datenschutzerklärung", '/datenschutz'%> gelesen und erkläre mich damit einverstanden.</label></li>
        </ul>
        </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2878e7a6ac11b54a0e10efca1_354b9a76fb" tabindex="-1" value=""></div>
            <div class="clear pt-3"><input type="submit" value="Jetzt anmelden" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
          </div>
        </form>
        </div>
        <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[1]='FNAME';ftypes[1]='text';fnames[0]='EMAIL';ftypes[0]='email'; /*
        * Translated default messages for the $ validation plugin.
        * Locale: DE
        */
        $.extend($.validator.messages, {
          required: "Dieses Feld ist ein Pflichtfeld.",
          maxlength: $.validator.format("Geben Sie bitte maximal {0} Zeichen ein."),
          minlength: $.validator.format("Geben Sie bitte mindestens {0} Zeichen ein."),
          rangelength: $.validator.format("Geben Sie bitte mindestens {0} und maximal {1} Zeichen ein."),
          email: "Geben Sie bitte eine gültige E-Mail Adresse ein.",
          url: "Geben Sie bitte eine gültige URL ein.",
          date: "Bitte geben Sie ein gültiges Datum ein.",
          number: "Geben Sie bitte eine Nummer ein.",
          digits: "Geben Sie bitte nur Ziffern ein.",
          equalTo: "Bitte denselben Wert wiederholen.",
          range: $.validator.format("Geben Sie bitten einen Wert zwischen {0} und {1}."),
          max: $.validator.format("Geben Sie bitte einen Wert kleiner oder gleich {0} ein."),
          min: $.validator.format("Geben Sie bitte einen Wert größer oder gleich {0} ein."),
          creditcard: "Geben Sie bitte ein gültige Kreditkarten-Nummer ein."
        });}(jQuery));var $mcj = jQuery.noConflict(true);</script>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
