

<!-- Begin Mailchimp Signup Form -->
<div class="container my-5">
  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <style type="text/css">
    #mc_embed_signup{background: $linen; clear:left; font:14px Roboto,sans-serif; }
    /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
      We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
  <style type="text/css">
    #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
    #mergeRow-gdpr {margin-top: 20px;}
    #mergeRow-gdpr fieldset label {font-weight: normal;}
    #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
  </style>
  <div id="mc_embed_signup">
    <form action="https://health.us7.list-manage.com/subscribe/post?u=2878e7a6ac11b54a0e10efca1&amp;id=354b9a76fb" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <h2>Ja, ich möchte mehr erfahren! </h2>
        <div class="indicates-required"><span class="asterisk">*</span>Pflichtfeld</div>
        <div class="d-md-flex justify-content-between">    
          <div class="mc-field-group mr-5">
            <label for="mce-FNAME">Vorname<span class="asterisk">*</span>
            </label>
            <input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
          </div>
          <div class="mc-field-group">
            <label for="mce-EMAIL">Deine Mail-Adresse    <span class="asterisk">*</span>
            </label>
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
          </div>
        </div>

        <strong>AGB &amp; Datenschutz </strong>
        <div class="mc-field-group input-group my-3">
            <div>
              <input type="checkbox" value="1" name="group[78860][1]" id="mce-group[78860]-78860-0">
              <label for="mce-group[78860]-78860-0">Ich habe die AGBs und die Datenschutzerklärung gelesen und erkläre mich damit einverstanden.</label>
            </div>
    
        </div>
        <div id="mergeRow-gdpr" class="mergeRow gdpr-mergeRow content__gdprBlock mc-field-group">
            <div class="content__gdpr">
                <label>
                  <strong>Erlaubnis zum Marketing & Datenschutz</strong>
                </label>
                <br>
                <p>Mit deiner Anmeldung erklärst du dich mit dem Erhalt von Emails einverstanden.</p>
                <fieldset class="mc_fieldset gdprRequired mc-field-group" name="interestgroup_field">
                  <label class="checkbox subfield" for="gdpr_45268"><input type="checkbox" id="gdpr_45268" name="gdpr[45268]" value="Y" class="av-checkbox gdpr">
                    <span>Email</span>
                  </label>
                </fieldset>
                <br>
                <p>Du kannst dich jederzeit abmelden, indem du auf den Link in der Fußzeile unserer E-Mails klicken. Informationen zu unseren Datenschutzpraktiken findest du auf unserer Website.</p>
            </div>
            <div class="content__gdprLegal">
                <p>We use Mailchimp as our marketing platform. By clicking below to subscribe, you acknowledge that your information will be transferred to Mailchimp for processing. <a href="https://mailchimp.com/legal/" target="_blank">Learn more about Mailchimp's privacy practices here.</a></p>
            </div>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true">
          <input type="text" name="b_2878e7a6ac11b54a0e10efca1_354b9a76fb" tabindex="-1" value="">
        </div>
        <div class="clear">
          <input type="submit" value="Anmelden" name="subscribe" id="mc-embedded-subscribe" class="btn btn-app px-5 py-3 my-sm-0 mx-0"></div>
        </div>
    </form>
  </div>
</div>

<!--End mc_embed_signup-->
