<div class="background-white">
  <div class="container">
    <div class="row justify-content-around align-items-start px-lg-5">
      <div class=" col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'startupcolors.png', class: "avatar" %>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'startupcolors.png', class: "avatar" %>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'startupcolors.png', class: "avatar" %>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 text-center my-3">
        <%= image_tag 'startupcolors.png', class: "avatar" %>
      </div>
    </div>
  </div>
</div>