<div id="patient-app" class="bg-orange py-5">
	<div class="container text-center">
		<h2 class="my-2 text-center"><%= t(:'patients.app_header') %></h2>
		<h3 class="my-2 text-center"><%= t(:'patients.app_subheader') %></h3>
		<div class="d-flex justify-content-center align-items-center pt-3">
			<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662030261/Website/patient-app_ipp801.png', class: "" %>
		</div>
		<p class="my-3 text-center"><%= t(:'patients.app_paragraph') %></p>
		<!-- The text field -->
	</div>
</div>
