<div id="patients" class="background-lightblue py-5">
  <div class="container px-lg-5 py-3 ">
    <h2 class="mb-5 text-start">minime für<br>
      <span class="outline-header-blue">Patient:innen</span></h2>
    <div class="grid-three">
      <div class="text-center py-4 px-2 blue-frame">
        <%= image_tag 'icon_email.svg', class: "icon mb-5 mt-3" %>
        <p>1. Erhalte die Einladung per Mail in der Therapie<br>
        </p>
      </div>
      <div class="text-center py-4 px-2 blue-frame">
        <%= image_tag 'icon_register.svg', class: "icon mb-5 mt-3" %>
        <p>2. Registriere dich<br>
          über den Link in der Mail</p>
      </div>
      <div class="text-center py-4 px-2 blue-frame">
        <%= image_tag 'icon_bolt.svg', class: "icon mb-5 mt-3" %>
        <p>3. Starte sofort mit<br>
          der Erstellung von Einträgen</p>
      </div>
    </div>
  </div>
</div>
<div class="background-white py-5">
  <div class="container px-lg-5 py-3 position-relative">
    <%= image_tag 'minime.svg', class: "mini-minime position-absolute" %>
    <h2 class="mb-5 text-start">Dein minime<br>
      begleitet dich über<br>
      <span class="outline-header-blue">deine gesamte<br>
        Therapie hinweg</span></h2>
    <div class="grid-two">
      <div class="py-3 px-3 check-box text-end">
        <p class="right-text-box text-center">Übernimm spielerisch Verantwortung für deine mentale Gesundheit</p>
      </div>
      <div class="py-3 px-3 check-box text-end">
        <p class="right-text-box text-center">Strukturiere deine Erlebnisse aus dem Alltag, um sie gezielt in der Therapie zu besprechen</p>
      </div>
      <div class="py-3 px-3 check-box text-end">
        <p class="right-text-box text-center">Je mehr du einträgst, umso leichter lassen sich Zusammenhänge / Teufelskreise festellen</p>
      </div>
      <div class="py-3 px-3 check-box text-end">
        <p class="right-text-box text-center">Fülle deine Timeline<br>
          und erkenne wie viel du bereits geschafft hast</p>
      </div>
    </div>
  </div>
</div>
