<div id="patient-theory" class="bg-white py-5">
	<div class="container text-center">
		<div class="p-3">
			<h2 class="my-2 text-center"><%= t(:'patients.theory_header') %></h2>
			<h3 class="my-2 text-center"><%= t(:'patients.theory_subheader') %></h3>
			<p class="my-4 text-start"><%= t(:'patients.theory_paragraph') %></p>
			<div class="d-flex justify-content-center align-items-center pt-3">
				<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662031022/Website/theory_fgmau4.png', class: "py-3", style: "max-width: 100%" %>
			</div>
		</div>
		<!-- The text field -->
	</div>
</div>
