<div id="patients" class="background-blue-long px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
  <h3 class="my-4 text-start py-5">minime für Patient:innen</h2>
  <p>minime begleitet dich während der gesamten Therapie und bietet dir einen einfachen Weg, deine Gedanken, Gefühle und dein Verhalten  für deine Therapie zu dokumentieren.</p>
  <ul class="patient-list">
    <li>minime ist für Patient:innen kostenlos </li>
    <li>Alle eingebenen Daten sind in minime sicher gespeichert und können nur von dir und deiner/m Therapeut:in gesehen werden</li>
  </ul>
  <div class="grid-four mt-4">
    <div class="text-center bg-white rounded-3 px-3 py-4 px-2 drop-shadow">
      <div class="elli-long mb-3">
        <%= image_tag 'v3/mail.svg', class: "patient-icon" %>
      </div>
      <p>Berichte deiner/m Therapeut:in von minime und lass dich per Mail einladen</p>
    </div>
    <div class="text-center bg-white rounded-3 px-3 py-4 px-2 drop-shadow ">
      <div class="elli-long mb-3">
        <%= image_tag 'v3/register.svg', class: "patient-icon" %>
      </div>
      <p>Registriere dich über den Link in der Mail </p>
    </div>
    <div class="text-center bg-white rounded-3 px-3 py-4 px-2 drop-shadow ">
      <div class="elli-long mb-3">
        <%= image_tag 'v3/add.svg', class: "patient-icon" %>
      </div>
      <p>Starte sofort mit der Erstellung von Einträgen</p>
    </div>
    <%= image_tag 'v3/minime-app.svg', class: "d-none d-lg-block" %>
  </div>
</div>
