<div class="container my-5">
  <h3 class="mb-4">minime Pakete</h3>
  <div class="row g-4">
    <div class="col text-center bg-white">
      <div class="drop-shadow">
        <%= image_tag 'v3/pkt-1.svg', class: "mt-4" %>
      </div>
    </div>
    <div class="col text-center bg-white">
      <div class="drop-shadow">
        <%= image_tag 'v3/pkt-2.svg', class: "" %>
      </div>
    </div>
    <div class="col text-center bg-white">
      <div class="drop-shadow">
        <%= image_tag 'v3/pkt-3.svg', class: "" %>
      </div>
    </div>
  </div>
</div>
