<div id="roadmap" class="background-white text-left">
  <div class="container py-5">
    <div class="container py-lg-3 py-xl-3">
      <h2 class="text-center text-uppercase">Unsere Reise</h2>
    </div>
    <div class="roadmap">
    </div>
      <%#div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center p-5">
        <%= link_to 'Unterstütze Uns', 'https://www.beltz.de/fachmedien/psychologie/buecher/produkt_produktdetails/45304-von_teufelskreisen_und_glaubenssaetzen.html', target: "_blank", type: "button", class: "mt-3 btn btn-cardgame shadow-none" %>
      <%#/div%>

    </div>
  </div>
</div>