<div class="container py-5 my-5">
  <div class="px-3 px-sm-3 px-md-5 px-lg-5 px-xl-5">
    <h3 class="mb-4">Sicher, anonym und werbefrei!</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center bg-white ">
        <div class="circle-security drop-shadow d-flex justify-content-center align-items-center px-2">
          <p>DSGVO konform</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center bg-white">
        <div class="circle-security drop-shadow d-flex justify-content-center align-items-center px-2">
          <p>Mit Therapeut:innen entwickelt</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center bg-white  ">
        <div class="circle-security drop-shadow d-flex justify-content-center align-items-center px-2">
          <p>ISO/IEC 27001 Zertifiziert</p>
        </div>
      </div>
    </div>
  </div>
</div>
