<div class="container my-5">
  <h3 class="mb-4 text-center">Sicher, anonym und werbefrei mit minime arbeiten!</h3>
  <div class="row">
    <div class="col text-center bg-white ">
      <div class="circle-security drop-shadow d-flex justify-content-center align-items-center">
        <p>Berichte deiner/m Therapeut:in von minime und lass dich per Mail einladen</p>
      </div>
    </div>
    <div class="col text-center bg-white">
      <div class="circle-security drop-shadow d-flex justify-content-center align-items-center">
        <p>Registriere dich über den Link in der Mail </p>
      </div>
    </div>
    <div class="col text-center bg-white  ">
      <div class="circle-security drop-shadow d-flex justify-content-center align-items-center">
        <p>Starte sofort mit der Erstellung von Einträgen</p>
      </div>
    </div>
  </div>
</div>
