<div id="share-minime" class="bg-orange pt-5">
	<div class="container text-center">
		<h2 class="my-2 text-center"><%= t(:'patients.share_header') %></h2>
		<h3 class="my-2 text-center"><%= t(:'patients.share_subheader') %></h3>
		<div class="d-flex justify-content-center align-items-center">
			<div class="aperol-mini-circle-bg text-white"><i class="fas fa-link"></i></div>
		</div>
	</div>
</div>
