<div id="header" class="header bg-white py-3 bg-team-header">
	<div class="container position-relative">
		<div class="px-lg-5 px-3 header-space">
			<div class="d-block d-sm-flex justify-content-between align-items-end ">
				<div class="">
					<h1 class="text-uppercase my-3 my-md-4 my-lg-5 text-start">Wer ist minime?</h1>
					<p class="block-text text-start text-md-start text-lg-start text-xl-start pt-3">minime ist ein neues Startup im Mental Health Bereich. Ursprünglich wollten wir eines der meistgenutzen Übungsblätter in der Verhaltenstherapie digitalisieren. Jetzt is minime so viel mehr und wächst stetig. Sei dabei und gestalte die Digitalisierung der Verhaltenstherapie mit. </p>
				</div>
				<div class="text-center">
					<%= image_tag 'v3/minime-party.svg', class: "team-header-img pt-3" %>
					<a href="https://wqtw8kexb45.typeform.com/to/xo3y5tB5" type="button" class="btn btn-neon-green btn-minime shadow-none mt-3">Jetzt bewerben!</a>
				</div>
			</div>
		</div>
	</div>
	<%= partial "partials/team-photos" %>
	<div class="container">
		<div class="px-lg-5 px-3">
			<h2 class="my-3">Komm zu uns!</h2>
			<p>Komm ins Team und gestalte mit uns gemeinsam deinen perfekten Arbeitsplatz. Wir wollen nicht nur ein nachhaltiges Produkt auf den Markt bringen, sondern auch einen gesunden Arbeitsplatz für alle Mitarbeitenden schaffen. Deine Chance! </p>
			<div class="row mt-4">
				<div class="col-12 col-sm-6 mt-3">
					<div class="accordion shadow" id="accordionExample">
						<div id="free-pos" class="accordion-item">
							<h2 class="" id="headingOne">
								<button id="acc-btn" class="rounded-3 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
									<div class="d-flex align-items-center justify-content-between flex-grow-1">
										<h4>Marketing Intern</h4>
										<%= image_tag 'v3/minime-purple.svg', class: "icon px-lg-5 px-3 px-xl-5" %>
									</div>
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									<p class="my-3"><strong>Vollzeit, Berlin/remote</strong></p>
									<p class="my-3"><strong>Du bist ...</strong></p>
									<ul class="features">
										<li>Neugierig </li>
										<li>Social-Media erprobt</li>
										<li>Kreativ</li>
										<li>Motiviert</li>
									</ul>
									<p class="my-3"><strong>Du willst ...</strong></p>
									<ul class="features">
										<li>Verantwortung für alle Social-Media Kanäle haben</li>
										<li>dich in neue Kanäle einarbeiten</li>
										<li>Marketing Strategien entwickeln</li>
										<li>Content zum Thema Verhaltenstherapie erstellen</li>
										<li>viel lernen</li>
									</ul>
									<p class="my-3"><strong>Du erwartest ...</strong></p>
									<ul class="features">
										<li>hohe Eigenverantwortung</li>
										<li>verantwortungsvolle Aufgaben</li>
										<li>Vertrauen in deine Arbeit</li>
										<li>gesunde Arbeitszeiten</li>
										<li>ein unterstützendes Team</li>
										<li>viele Gestaltungsmöglichkeiten</li>
									</ul>
									<div class="d-flex justify-content-center my-3">
										<a href="https://wqtw8kexb45.typeform.com/to/xo3y5tB5" type="button" class="btn btn-neon-green btn-minime shadow-none mt-3">Jetzt bewerben!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 mt-3">
					<div class="accordion shadow" id="accordionPos2">
						<div id="free-pos" class="accordion-item">
							<h2 class="" id="headingOne">
								<button id="acc-btn" class="rounded-3 accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
									<div class="d-flex align-items-center justify-content-between flex-grow-1">
										<h4>Dein Traumjob</h4>
										<%= image_tag 'v3/minime-yellow.svg', class: "icon px-lg-5 px-3 px-xl-5" %>
									</div>
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionPos2">
								<div class="accordion-body">
									<p class="my-3"><strong>Vollzeit, Berlin/remote</strong></p>
									<p class="my-3"><strong>Du bist ...</strong></p>
									<ul class="features">
										<li>Neugierig </li>
										<li>Empathisch</li>
										<li>Motiviert</li>
									</ul>
									<p class="my-3"><strong>Du willst ...</strong></p>
									<p>...deinen Traumjob kreieren? Kein Problem. Wir sind gespannt! Erzähl doch mal, welche Position fehlt uns noch hier bie minime? Und warum bist du die richtige Person für den Job? Ganz frei heraus: Wie sähe dein bestmöglicher Arbeitsplatz aus? </p>
									<p class="my-3"><strong>Du erwartest ...</strong></p>
									<ul class="features">
										<li>hohe Eigenverantwortung</li>
										<li>verantwortungsvolle Aufgaben</li>
										<li>Vertrauen in deine Arbeit</li>
										<li>gesunde Arbeitszeiten</li>
										<li>ein unterstützendes Team</li>
										<li>viele Gestaltungsmöglichkeiten</li>
									</ul>
									<div class="d-flex justify-content-center my-3">
										<a href="https://wqtw8kexb45.typeform.com/to/xo3y5tB5" type="button" class="btn btn-neon-green btn-minime shadow-none mt-3">Jetzt bewerben!</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="py-3">
	<div class="container">
		<div class="px-lg-5 px-3">
			<h3 class="my-lg-5 my-3">Gestalte deinen Arbeitsplatz</h3>
			<div class="container my-5 px-3">
				<div id="team-checks" class="row">
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>REMOTE arbeiten</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Mentale Gesundheit auf der Arbeit</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-4 col-md-4 my-3 text-center d-flex justify-content-center   ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Freundschaft-liches Team</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6 my-3 text-center d-flex justify-content-center ">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Verantwortung & Vertrauen</p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 my-3 text-center d-flex justify-content-center">
						<div class="circle-team drop-shadow d-flex justify-content-center align-items-center px-2">
							<p>Persönliche & Professionelle Entwicklung</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="pt-3 pb-5">
	<div class="container">
		<div class="px-lg-5 px-3">
			<h3 class="my-lg-5 my-3">Warum minime? - Unsere Gründungsstory</h3>
			<div class="d-block d-sm-flex align-items-start justify-content-center justify-content-sm-between">
				<div class="d-flex justify-content-center justify-content-sm-start">
					<img src="https://res.cloudinary.com/minimehealth/image/upload/v1651061732/Website/PXL_20220104_120413434_1_uw2fnu.jpg" class="w-75" alt="Gründung der minime GmbH">
				</div>
				<p class="ps-0 ps-sm-2 pt-3 pt-sm-0">Paul hatte die Idee zu minime schon vor ein paar Jahren als er angefangen hat als Therapeut zu arbeiten. Die papierlastigen Übungsaufgaben, welche er mit seinen Patient:innen teilte, konnte er schon damals nicht mehr sehen.
					<br>
					<br>
					Zunächst entwickelte er ein buntes Kartenset, um die Therapiesitzungen spielerischer und interaktiver zu gestalten. Er wusste aber, dass es auch eine Lösung für die Zeit wischen den Sitzungen geben muss.
					<br>
					<br>
					2020 haben sich Nina, Paul, Rafa und Stella kennengelernt und innerhalb nur eines Jahres die beta-Version der App entwickelt.
					<br>
					<br>
					2022 hat minime den Markteintritt gestartet. </p>
			</div>
		</div>
	</div>
</div>
