<div class="container">
  <div class="d-flex justify-content-between align-items-start">
    <div class="testimonial-bg d-flex justify-content-center p-4">
      <div class="text-center">
        <h4 class="my-4">H.K., Kinder - & Jugendtherapeutin i.A., Berlin</h4>
        <p>"Es besteht ein hoher Bedarf an Kommunikation mit den Patient:innen - minime ist eine Lösung, um Beobachtungen zu teilen, ohne die ganze Sitzung damit zu blockieren."</p>
      </div>
    </div>
    <div class="testimonial-bg d-flex justify-content-center p-4">
      <div class="text-center">
        <h4 class="my-4">A.S., Verhaltenstherapeutin, Berlin</h4>
        <p>"Es besteht ein hoher Bedarf an Kommunikation mit den Patient:innen - minime ist eine Lösung, um Beobachtungen zu teilen, ohne die ganze Sitzung damit zu blockieren."</p>
      </div>
    </div>
  </div>
</div>
