<div id="testi" class="container px-5">
  <div class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center align-items-sm-center align-items-md-start text-sm-center">
    <div class="testimonial-bg d-flex justify-content-center p-4 m-5">
      <div class="text-center w-sm-50">
        <h4 class="my-4">H.K., Kinder - & Jugendtherapeutin i.A., Berlin</h4>
        <p>"Es besteht ein hoher Bedarf an Kommunikation mit den Patient:innen - minime ist eine Lösung, um Beobachtungen zu teilen, ohne die ganze Sitzung damit zu blockieren."</p>
      </div>
    </div>
    <div class="testimonial-bg d-flex justify-content-center p-4 m-5">
      <div class="text-center w-sm-50">
        <h4 class="my-4">A.S., Verhaltenstherapeutin, Berlin</h4>
        <p>"Es besteht ein hoher Bedarf an Kommunikation mit den Patient:innen - minime ist eine Lösung, um Beobachtungen zu teilen, ohne die ganze Sitzung damit zu blockieren."</p>
      </div>
    </div>
  </div>
</div>
