<div class="background-lightpink p-5 text-left">
  <div class="container">
    <div class="container p-5">
      <h2 class="body-header text-center">MINI.ME FÜR THERAPEUT*INNEN</h2>
    </div>
    <div class="row justify-content-between align-items-center px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue font-weight-bold">DIGITAL</h3>
        <p class="body-text-black text-nowrap">Intuitive Anwendung</p>
        <p class="body-text-black text-nowrap">Individuell anpassbare Inhalte</p>
        <p class="body-text-black text-nowrap">Immer zur Hand</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue font-weight-bold">DIGITAL</h3>
        <p class="body-text-black text-nowrap">Intuitive Anwendung</p>
        <p class="body-text-black text-nowrap">Individuell anpassbare Inhalte</p>
        <p class="body-text-black text-nowrap">Immer zur Hand</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue font-weight-bold">DIGITAL</h3>
        <p class="body-text-black text-nowrap">Intuitive Anwendung</p>
        <p class="body-text-black text-nowrap">Individuell anpassbare Inhalte</p>
        <p class="body-text-black text-nowrap">Immer zur Hand</p>
      </div>
    </div>
  </div>
</div>