<div id="therapists" class="background-lightpink p-5 text-start">
  <div class="container">
    <div class="container p-5">
      <h2 class="text-center">MINI.ME FÜR Therapeut:innen</h2>
    </div>
    <div class="row justify-content-between align-items-start px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5">
        <div class="text-center text-lg-left"><%= image_tag 'noun_digital.png', class: "icon-app mb-3" %></div>
        <h4 class="text-uppercase pb-3 text-center text-lg-left">Intuitive Gesamtübersicht</h4>
        <ul class="dots">
          <li class="body-text-black-small"><span>Alle Patient:innen und deren aktueller Stand auf einem Blick</span></li>
          <li class="body-text-black-small"><span>Visualisierung des gesamttherapeutischen Prozess</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5">
        <div class="text-center text-lg-left"><%= image_tag 'noun_digital.png', class: "icon-app mb-3" %></div>
        <h4 class="text-uppercase pb-3 text-center text-lg-left">Begleitung der Therapie </h4>
        <ul class="dots">
          <li class="body-text-black-small"><span>Detaillierte Datenanalyse</span></li>
          <li class="body-text-black-small"><span>Darstellung manualisierter Therapiebausteine</span></li>
          <li class="body-text-black-small"><span>Anpassung der Behandlungspläne</span></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 my-5">
        <div class="text-center text-lg-left"><%= image_tag 'noun_digital.png', class: "icon-app mb-3" %></div>
        <h4 class="text-uppercase pb-3 text-center text-lg-left">Vereinfachte Kommunikation</h4>
        <ul class="dots">
          <li class="body-text-black-small"><span>Einfacher Austausch der therapeutischen Hausaufgaben</span></li>
          <li class="body-text-black-small"><span>Freischalten von psychoedukativen Materialien</span></li>
          <li class="body-text-black-small"><span>Freischalten von Anamnese- und Verlaufsfragebögen</span></li>
          <li class="body-text-black-small"><span>Textaufbereitung für Therapieanträge und Epikrisen</span></li>
        </ul>
      </div>
    </div>
  </div>
</div>
