<div id="patient-app" class="bg-therapist py-5">
	<div class="container text-center">
		<div class="p-3 text-white">
			<h2 class="my-2 text-center text-white"><%= t(:'patients.app_header') %></h2>
			<h3 class="my-2 text-center text-white"><%= t(:'patients.app_subheader') %></h3>
			<div class="d-flex justify-content-center align-items-center pt-3">
				<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662030261/Website/patient-app_ipp801.png', class: "", style: "max-width: 100%" %>
			</div>
			<p class="my-3 text-center text-white"><%= t(:'patients.app_paragraph') %></p>
			<!-- The text field -->
		</div>
	</div>
</div>
