<div class="container my-5 overflow-hidden">
	<div class="px-3">
		<div class="row align-items-center">
			<div class="col-12 col-lg-7 order-last order-lg-first">
				<div class="">
					<h4 class="mb-3">Evidenzbasierte Tools in der Verhaltenstherapie</h4>
					<p>
						In allen Phasen der Therapie, von der Probatorik bis zur Rückfallprophylaxe spielen therapeutische Tools eine zentrale Rolle. Sie helfen dabei psychologische Grundlagen zu veranschaulichen und die Zeit zwischen den Sitzungen zu gestalten (Reaktionsmuster entdecken und alternative Strategien ausprobieren, hilfreiche Muster etablieren).
						<br>
						<br>
						Ein Großteil aktuell verwendeter Therapietools besteht auch heute noch aus Arbeitsblättern in Form von Reflektionsbögen und Selbstbeobachtungs- protokollen. Sie werden störungsübergreifend eingesetzt. Allerdings lassen sie sich nur schwer an die Bedürfnisse und an die Lebensrealität von Patient:innen anpassen. </p>
				</div>
			</div>
			<div class="col-12 col-lg-5 order-first order-lg-last position-relative">
				<%= image_tag 'research/papers.png', class: "w-100 p-4" %>
				<div class="large-circle border-blue" style="left: -100px; bottom: -70px;"></div>
			</div>
		</div>
	</div>
</div>
<div class="container my-5">
	<div class="px-3">
		<div class="row align-items-center">
			<div class="col-12 col-lg-4">
				<% link_to "https://www.beltz.de/fachmedien/psychologie/buecher/produkt_produktdetails/45304-von_teufelskreisen_und_glaubenssaetzen.html" do %>
					<%= image_tag 'research/cards.svg', class: "w-100 p-4" %>
				<% end %>
			</div>
			<div class="col-12 col-lg-8">
				<div class="position-relative">
					<div class="mini-circle border-orange" style="left: -30px;"></div>
					<h4 class="mb-3">Psychoedukatives Kartenset für spielerische Interventionen innerhalb des Therapieraums</h4>
					<p>
						Das psychoedukative Kartenset "Von Teufelskreisen und Glaubenssätzen" bietet eine flexible Möglichkeit für die therapeutische Arbeit mit Patient:innen. Es wurde von unserem Gründer Paul entwickelt und Anfang 2021 über den Beltz-Verlag (Link zum Kartenset) veröffentlicht.
						<br>
						<br>
						Verhaltenstherapeutische Alltagsbegriffe werden hier symbolhaft dargestellt. Dadurch lassen sich Verhaltensbeobachtungen begleiten, Störungsmodelle erarbeiten, Interventionen herleiten und Trainingsphasen evaluieren lassen.
						<br>
						<br>
						In der minime App wird diese Idee aufgegriffen und in eine ganzheitliche, digitale Therapiebegleitung integriert.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="container my-5 overflow-hidden">
	<div class="px-3">
		<div class="row align-items-center">
			<div class="col-12 col-lg-7 order-last order-lg-first">
				<div class="position-relative">
					<h4 class="mb-3">Eine App, die Sitzungen und Alltag eng verzahnt.</h4>
					<p class="mb-3">
						Bisher werden kaum unterstützenden digitalen Lösungen für Therapeut:innen angeboten. Dabei bietet die Digitalisierung große Chancen um das Potenzial des lerntheoretischen Ansatzes der Verhaltenstherapie vollständig auszuschöpfen - ganz ohne das Ersetzen des menschlichen Expertise durch Algorithmen und künstliche Intelligenz und anders als DiGAs auf Rezept als autonome Onlineprogramme. <br>
						<br>
						<strong>Unser Ziel ist es, die klassische Psychotherapie durch moderne Tools zu unterstützen, anstatt zu ersetzen.  Alle Inhalte sind auf bewährten Methoden basiert und, durch einen starken nutzerzentrierten Ansatz, auf die Realität von Therapeut:innen und Patient:innen ausgerichtet.</strong></p>
					<div class="large-circle border-tension" style="right: -100px; top: -200px;"></div>
				</div>
			</div>
			<div class="col-12 col-lg-5 order-first order-lg-last">
				<%= image_tag 'https://res.cloudinary.com/minimehealth/image/upload/v1662391077/Website/analisis_qyplci.png', class: "w-100 p-4" %>
				<div class="large-circle border-blue" style="left: -100px; bottom: -70px;"></div>
			</div>
		</div>
	</div>
</div>
