<div id="therapists" class="background-lightpink p-5 text-left">
  <div class="container">
    <div class="container p-5">
      <h2 class="body-header text-center">MINI.ME FÜR THERAPEUT*INNEN</h2>
    </div>
    <div class="row justify-content-between align-items-start px-lg-5">
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue-small font-weight-bold text-uppercase pb-3">Intuitive Gesamtübersicht</h3>
        <p class="body-text-black-small">Alle Patient*Innen und deren aktueller Stand auf einem Blick</p>
        <p class="body-text-black-small">Visualisierung des gesamttherapeutischen Prozess</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue-small font-weight-bold text-uppercase pb-3">Begleitung der Therapie </h3>
        <p class="body-text-black-small">Detaillierte Datenanalyse</p>
        <p class="body-text-black-small">Darstellung manualisierter Therapiebausteine</p>
        <p class="body-text-black-small">Anpassung der Behandlungspläne</p>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 text-center my-5">
        <%= image_tag 'noun_digital.png', class: "icon mb-3" %>
        <h3 class="header-text-blue-small font-weight-bold text-uppercase pb-3">Vereinfachte Kommunikation</h3>
        <p class="body-text-black-small">Einfacher Austausch der therapeutischen Hausaufgaben</p>
        <p class="body-text-black-small">Freischalten von psychoedukativen Materialien</p>
        <p class="body-text-black-small">Freischalten von Anamnese- und Verlaufsfragebögen</p>
        <p class="body-text-black-small">Textaufbereitung für Therapieanträge und Epikrisen</p>
      </div>
    </div>
  </div>
</div>