<div id="vision" class="background-white">
  <div class="container px-lg-5 py-3">
    <h2 class="my-3 text-start desktop-hidden">Unsere Vision der<br>
      <span class="outline-header-blue">Verhaltenstherapie</span></h2>
    <div class="blue-grid-right pt-5 mb-3">
      <div>
        <h2 class="my-3 text-start mobile-hidden">Unsere Vision der<br>
          <span class="outline-header-blue">Verhaltenstherapie</span></h2>
        <p class="mb-5 text-start">Minime ermöglicht es Therapeut*innen und ihren Patient*innen, das volle Potenzial der kognitiven Verhaltenstherapie auszuschöpfen. Wir verbinden Therapie und Alltag spielerisch, indem wir bewährte Therapiemethoden digitalisiert und interaktiv gestalten.</p>
      </div>
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">SICHER</h4>
        <ul class="text-start text-white list-text">
          <li>GDPR Konform</li>
          <li>Datensicherheit</li>
          <li>Anonymisiert</li>
        </ul>
      </div>
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">INTERAKTIV</h4>
        <ul class="text-start text-white">
          <li>OFFLINE und ONLINE nutzbar</li>
          <li>Stärkt die therpeutische Beziehung</li>
        </ul>
      </div>
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">EINFACH</h4>
        <ul class="text-start text-white">
          <li>Mit einem Klick zum Eintrag</li>
          <li>Intuitive Übersicht der Einträge</li>
          <li>Spielerische Erklärung bewährter Methoden</li>
        </ul>
      </div>
    </div>
  </div>
</div>
