<div id="vision" class="background-white">
  <div class="container px-lg-5 px-3 py-5">
    <h2 class="text-start">Unsere Vision der<br>
      <span class="outline-header-blue normal">Verhaltenstherapie</span></h2>
    <p class="mb-5 text-start">minime ermöglicht es Therapeut:innen und ihren Patient:innen, das volle Potenzial der kognitiven Verhaltenstherapie auszuschöpfen. Wir verbinden Therapie und Alltag spielerisch, indem wir bewährte Selbstbeobachtungsmethoden und den Zugang zu therapeutischen Hausaufgaben digitalisiert und interaktiv gestalten.</p>
    <div class="blue-grid-right mb-3">
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">SICHER</h4>
        <ul class="text-start text-white list-text">
          <li>GDPR-konform</li>
          <li>Server in Deutschland</li>
          <li>ISO/IEC 27001 ZERTIFIZIERT</li>
        </ul>
      </div>
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">INTERAKTIV</h4>
        <ul class="text-start text-white">
          <li>In der Videotherapie und vor Ort nutzbar</li>
          <li>Gemeinsame Ansicht in der App</li>
          <li>Stärkt die therapeutische Beziehung</li>
        </ul>
      </div>
      <div class="text-center blue-box py-5 px-2">
        <h4 class="text-center text-white mb-3">EINFACH</h4>
        <ul class="text-start text-white">
          <li>Mit einem Klick zum Eintrag</li>
          <li>Intuitive Übersicht mit Filterfunktion</li>
          <li>Keine Einarbeitungszeit notwendig</li>
        </ul>
      </div>
    </div>
  </div>
</div>
