<div class="container my-5 px-2 py-5 px-lg-5">
	<h1>Datenschutzerklärung von minime</h1>
	<br>
	<p>zuletzt aktualisiert: 08.08.2022 - 15:34 Uhr</p>
	<br>
	<br>
	<h2>I. Verantwortlicher, Geltungsbereich</h2>
	<br>
	<br>
	<p>Paul Schneeweiss<br>
		minime GmbH <br>
		Mahlower Str. 24 <br>
		12049 Berlin (Neukölln) <br>
		USt-ID -  DE350701543<br>
		<br>
		<br>
		(nachfolgend „Anbieter“ genannt). Details zur ladungsfähigen Anschrift und Vertretungsberechtigungen entnehmen Sie bitte dem Impressum.
		<br>
		<br>
		Für uns hat der Schutz personenbezogener Daten höchste Priorität. Wir möchten Sie deshalb an dieser Stelle darüber informieren, welche Daten wir wann erheben und wie wir mit Ihren personenbezogenen Daten umgehen. Diese Datenschutzerklärung beschreibt die Erhebung und Verwendung von personenbezogenen Daten beim Besuch und bei der Nutzung unserer Webseite <a href="www.minime.health">www.minime.health</a> (im Folgenden: „Webseite“). Sofern in dieser Datenschutzerklärung nicht ausdrücklich auf die App Bezug genommen wird, gilt das Nachstehende nur für Webseite (im Folgenden: „Anwendung“).</p>
	<br>
	<br>
	<h2>II. Allgemeines zur Datenverarbeitung</h2>
	<br>
	<br>
	<h3>1. Umfang der Verarbeitung personenbezogener Daten</h3>
	<p>Wir verarbeiten personenbezogene Daten unserer Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Anwendung, sowie zur Durchführung der von uns angebotenen Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten unserer Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers oder auf Grundlage anderer gesetzlicher Bestimmungen, die eine Datenverarbeitung gestatten. <br>
		<br>
		Sofern wir Ihre personenbezogenen Daten aufgrund Ihrer Einwilligung verarbeiten, haben Sie jederzeit das Recht, die Einwilligung ohne Angabe von Gründen mit Wirkung für die Zukunft zu widerrufen. <br>
		<br>
		Personenbezogene Daten verarbeiten wir auch für statistische und marktanalytische Zwecke aus. Dabei werden in anonymisierter Form bspw. Statistiken zu Branchenzugehörigkeit, Standort, Marktbereich der Nutzer der Anwendung erstellt und ausgewertet. Einzelheiten hierzu können Sie den jeweiligen Abschnitten dieser Datenschutzerklärung entnehmen. <br>
		<br>
		Für besondere Dienste (bspw. Der Versand von Newsletter) können zusätzliche Datenschutzhinweise gelten. Über diese werden wir jeweils zu Beginn des Nutzungsvorgangs des jeweiligen Dienstes unterrichten.</p>
	<br>
	<br>
	<h3>2. Datenlöschung und Speicherdauer</h3>
	<p>Grundsätzlich und sofern nicht anders angegeben werden Ihre personenbezogenen Daten nur solange gespeichert, bis der Zweck der Erhebung und Speicherung entfällt. Gemäß ihrer Einwilligung können Daten auch länger gespeichert werden, solange Sie die Einwilligung nicht widerrufen. <br>
		<br>
		Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen wir unterliegen, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht. <br>
		<br>
		<br>
		<br>
		<h3>3. Einsatz von Auftragsverarbeiter</h3>
		<p>Bei der Durchführung der von uns angebotenen Leistungen bedienen wir uns externer Dienstleister, die unter anderem auch Ihre personenbezogenen Daten ausschließlich in unserem Auftrag verarbeiten. Das ist z. B. bei Zahlungsdienstleister, Fullfillmentdienstleister, Newsletter Versanddienstleister, sowie bei CRM- und Hostingdienstleister der Fall. Mit sämtlichen solchen Auftragsverarbeitern haben wir – sofern gesetzlich erforderlich – Vereinbarungen über die Verarbeitung personenbezogener Daten im Auftrag gem. Art. 28 DSGVO abgeschlossen.</p>
		<br>
		<br>
		<h3>4. Übertragung in Drittländer</h3>
		<p>Sofern nicht anders angegeben, finden sämtliche Datenverarbeitungsvorgänge innerhalb der EU oder der EWR-Staaten statt. <br>
			<br>
			Datenverarbeitungsvorgänge, die über außerhalb des genannten geographischen Bereiches niedergelassene Drittanbieter durchgeführt werden, können zum Teil oder vollständig in den Ländern der jeweiligen Niederlassung bzw. nach Maßgabe der jeweiligen Datenschutzbestimmungen erfolgen. <br>
			<br>
			Eine Übermittlung personenbezogener Daten außerhalb der EU oder des EWR erfolgt ausschließlich auf Grundlage einer Angemessenheitsentscheidung der Europäischen Kommission, oder nach Maßgabe von Standard Vertragsklauseln der Europäischen Kommission. Eine Liste der aktuellen Angemessenheitsentscheidungen ist auf der Webseite der Europäischen Kommission erhältlich.</p>
		<br>
		<br>
		<h2>III. Datennutzung in allgemeiner Form bei der Bereitstellung der Webseite und Erstellung von Logfiles</h2>
		<br>
		<br>
		<p>Wenn Sie unsere Webseite aufrufen speichern wir automatisch nutzungsbezogene Daten über den Nutzungsvorgang. Dazu gehören insbesondere die IP Adresse, die besuchten URLs, die Aufenthaltsdauer, das verwendete Betriebssystem und der verwendete Browser und die übertragene Datenmenge. <br>
			<br>
			Diese Daten erheben wir, um Ihnen die Bereitstellung unserer Webseite zu gewährleisten. Darüber hinaus werden sie verwendet, um Nutzerverhaltensweisen anonym zu analysieren, zu speichern und auszuwerten und den Service stetig zu verbessern und weiter zu entwickeln. Weitere Einzelheiten zu den dabei eingesetzten Systemen können Sie den untenstehenden Abschnitten zu Cookies und sozialen Medien entnehmen. <br>
			<br>
			Ihre IP-Adresse speichern wir lediglich für einen begrenzten Zeitraum in den Logfiles, soweit dies für Sicherheitszwecke erforderlich ist. <br>
			<br>
			In den genannten Zwecken liegt auch unser berechtigtes Interesse, das die Datenverarbeitung gem. Art. 6 Par. 1 lit. f) DSGVO rechtfertigt.</p>
		<br>
		<br>
		<h2>IV. Verwendung von Cookies und anderen Trackern in der Anwendung</h2>
		<br>
		<h3>Beschreibung und Umfang der Datenverarbeitung</h3>
		<br>
		<p>Um den Besuch unserer Webseite attraktiv zu gestalten und die Nutzung bestimmter Funktionen zu ermöglichen, verwenden wir auf verschiedenen Seiten sogenannte Cookies. Hierbei handelt es sich um kleine Textdateien, die auf Ihrem Endgerät abgelegt werden. Einige der von uns verwendeten Cookies werden nach dem Ende der Browsersitzung, also nach Schließen Ihres Browsers, wieder gelöscht (sog. Sitzungs-Cookies). Andere Cookies verbleiben auf Ihrem Endgerät und ermöglichen uns oder unseren Partnerunternehmen, Ihren Browser beim nächsten Besuch wiederzuerkennen (persistente Cookies). <br>
			Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und einzeln über deren Annahme entscheiden oder die Annahme von Cookies für bestimmte Fälle oder generell ausschließen. Außerdem können Sie Cookies jederzeit manuell von Ihrem Endgerät löschen. <br>
			Bei der Nichtannahme von Cookies kann die Funktionalität unserer Webseite eingeschränkt sein.
			<br>
			<br>
			Cookies setzen wir gemäß Art. 6 Abs. 1 Buchst. c) DSGVO, soweit dies zur Erfüllung einer rechtlichen Verpflichtungen erforderlich ist, der wir unterliegen, sowie, gemäß Art. 6 Abs. 1 Buchst. f) DSGVO, zur Wahrung unserer im Rahmen einer Interessensabwägung überwiegenden berechtigten Interessen an einer optimierten Darstellung unseres Angebots.
			<br>
			<br>
			Weitere Cookies, die es uns erlauben, das Nutzerverhalten zu Marktanalysezwecken zu beobachten und auszuwerten, setzen wir nur, sofern Sie uns gem. Art. 6 Abs. 1 Buchst. a) DSGVO Ihre Einwilligung erteilt haben. Dabei handelt es sich um Cookies von Drittanbietern, die bei der Nutzung unserer Dienste zur Anwendung kommen. Einzelheiten entnehmen Sie bitte den folgenden Abschnitten. Sofern nicht anders angegeben, erfolgt die Übermittlung Ihrer Daten an Dritte in den USA, deren Cookies über unsere Webseite eingesetzt werden, im Rahmen des EU-USA Privacy Shields. Für die USA liegt jedoch aktuell kein Angemessenheitsbeschluss der Europäischen Kommission vor.
			<br>
			<br>
			Soweit nicht ausdrücklich anders angegeben, setzen wir folgende Cookies und Tracker nur mit Ihrer Einwilligung ein. Grundlage der Verarbeitung ist daher Art. 6 Abs. 1 Bucht. a) DSGVO.
			<br>
			<br>
			GOOGLE ANALYTICS
			<br>
			<br>
			Wir arbeiten mit „Google Analytics“. Dabei handelt es sich um einen Webanalysedienst der Google Inc. Die durch den Google Analytics Cookie erzeugten Informationen über Ihre Benutzung unserer Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.  Auf unseren Webseiten wurde die IP-Anonymisierung aktiviert, so dass die IP-Adresse der Nutzer von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt wird. Nur in Ausnahmefällen wird die ungekürzte IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. In unserem Auftrag wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Webseitennutzung und der Internetnutzung verbundene Dienstleistungen uns gegenüber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung in Ihrer Browser-Software verhindern; wir weisen jedoch darauf hin, dass Sie in diesem Fall unter Umständen nicht sämtliche Funktionen dieser Webseite vollumfänglich nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) durch Google sowie die Verarbeitung dieser Daten verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plug-in installieren: http://tools.google.com/dlpage/gaoptout?hl=de. Alternativ können Sie auf folgenden Link klicken: Google Analytics deaktivieren. Es wird dann ein Opt-Out Cookie gesetzt, das die zukünftige Erfassung Ihrer Daten beim Besuch dieser Webseite verhindert. <br>
			Weitere Informationen zu dem Umgang mit personenbezogenen Daten durch Google entnehmen Sie bitte der Datenschutzerklärung von Google: https://policies.google.com/privacy?hl=de.
		</p>
		<br>
		<br>
		<h2>V. Newsletter</h2>
		<br>
		<br>
		<p>Sie können Sich für den Erhalt unseres Newsletters anmelden, indem Sie Ihren Vornamen und Ihre E-Mail Adresse in die dafür vorgesehene Maske eingeben. Daraufhin erhalten Sie an die angegebene Adresse eine automatische Bestätigungsmail, die einen Link beinhaltet. Erst wenn Sie diesen Link aufrufen, ist der Anmeldeprozess beendet. <br>
			<br>
			Durch Ihre Einwilligung in den Erhalt unseres Newsletters nutzen wir Ihre Email-Adresse zum Versand von Werbung und für Sie interessante Angebote zu unseren eigenen Leistungen und denen von Partnerunternehmen. Darüber hinaus können wir nachverfolgen, wie oft eine bestimmte Newsletter-Nachricht geöffnet und darin enthaltene Links angeklickt wurden. Um dies zu erreichen, erheben wir Angaben zu Abrufzeitpunkt, IP-Adresse, Browsertyp und Betriebssystem. Dadurch können wir besser einschätzen, welche unserer Produkte Sie am meisten interessieren und unser Angebot entsprechend personalisieren und verbessern. Eine Weitergabe der Daten an Dritte erfolgt nicht. <br>
			<br>
		</p>
		<h3>Sendinblue</h3>
		<br>
		<p>
			Diese Website nutzt Sendinblue für den Versand von Newslettern. Anbieter ist die Sendinblue GmbH, Köpenicker Straße 126, 10179 Berlin, Deutschland.
			Sendinblue ist ein Dienst, mit dem u.a. der Versand von Newslettern organisiert und analysiert werden kann. Die von Ihnen zum Zwecke des Newsletterbezugs eingegeben Daten werden auf den Servern von Sendinblue in Deutschland gespeichert. <br>
			<br>
			<strong>Datenanalyse durch Sendinblue</strong>
			<br>
			<br>
			Mit Hilfe von Sendinblue ist es uns möglich, unsere Newsletter-Kampagnen zu analysieren. So können wir z. B. sehen, ob eine Newsletter-Nachricht geöffnet und welche Links ggf. angeklickt wurden. Auf diese Weise können wir u.a. feststellen, welche Links besonders oft angeklickt wurden.
			Außerdem können wir erkennen, ob nach dem Öffnen/ Anklicken bestimmte vorher definierte Aktionen durchgeführt wurden (Conversion-Rate). Wir können so z. B. erkennen, ob Sie sich nach dem Anklicken des Newsletters angemeldet haben. <br>
			<br>
			Sendinblue ermöglicht es uns auch, die Newsletter-Empfänger anhand verschiedener Kategorien zu unterteilen („clustern“). Dabei lassen sich die Newsletterempfänger z. B. nach Alter, Geschlecht oder Wohnort unterteilen. Auf diese Weise lassen sich die Newsletter besser an die jeweiligen Zielgruppen anpassen. <br>
			<br>
			Wenn Sie keine Analyse durch Sendinblue wollen, müssen Sie den Newsletter abbestellen. Hierfür stellen wir in jeder Newsletternachricht einen entsprechenden Link zur Verfügung. <br>
			<br>
			Ausführliche Informationen zum zu den Funktionen von Sendinblue entnehmen Sie folgendem Link: https://de.sendinblue.com/newsletter-software/.
			<br>
			<br>
			Die Einwilligung in den Erhalt von Newsletters können Sie jederzeit ohne Angabe von Gründen zurücknehmen, indem Sie dem Erhalt von Newsletters widersprechen. <br>
			<br>
			Über das Widerspruchsrecht informieren wir Sie bei Erhebung der Emailadresse und in dem jeweiligen Newsletter.</p>
		<br>
		<br>
		<h2>VI. Ihre Rechte</h2>
		<br>
		<br>
		<p>Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber dem Verantwortlichen zu: <br>
			<br>
			<span class="bold">Auskunftsrecht </span>- Sie haben das Recht, Auskunft über die von uns verarbeiteten oder gespeicherten personenbezogenen Daten zu verlangen. <br>
			<br>
			<span class="bold">Recht auf Berichtigung </span>- Sie haben das Recht, von uns die Berichtigung oder Ergänzung unrichtiger bzw. unvollständiger Daten, die Sie betreffen, zu verlangen. <br>
			<br>
			<span class="bold">Recht auf Löschung</span> - Sie haben unter bestimmten Umständen das Recht, die Löschung Ihrer Daten von uns zu verlangen. <br>
			<br>
			<span class="bold">Recht auf Einschränkung der Verarbeitung</span> - Sie haben das Recht, uns aufzufordern, die Verarbeitung Ihrer Daten unter bestimmten Umständen einzuschränken. <br>
			<br>
			<span class="bold">Widerspruchsrecht</span> - Sie haben das Recht, der Verarbeitung Ihrer personenbezogenen Daten unter bestimmten Umständen zu widersprechen. <br>
			<br>
			<span class="bold">Recht auf Datenübertragbarkeit</span> - Sie haben das Recht zu verlangen, dass wir Ihre personenbezogenen Daten unter bestimmten Umständen an einen anderen Verantwortlichen oder an Sie weiter- bzw. herausgeben. <br>
			<br>
			<span class="bold">Ihr Beschwerderecht</span> -
			Sie können sich auch an eine Beschwerde bei einer Datenschutzbehörde einreichen. </p>
		<br>
		<br>
		<div class="border p-3 rounded">
			<p><span class="bold">Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit ohne Angabe von Gründen Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. </span><br>
				<br>
				Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.</p>
		</div>
		<br>
		<br>
		<h2>VII. Änderungen dieser Datenschutzerklärung</h2>
		<br>
		<br>
		<p>Aufgrund der dynamischen Entwicklung des Internets entwickeln sich fortwährend neue Technologien und Möglichkeiten. Damit wir auch Sie in den Genuss dieser Möglichkeiten und Technologien kommen lassen können, behalten wir uns vor, bei der Einführung neuer, zusätzlicher oder bei der Änderung oder Erweiterung bestehender Dienste oder Dienstelemente, diese Datenschutzerklärung für die Zukunft zu ändern. <br>
			<br>
			Soweit die Änderung der Datenschutzerklärung nur die Datennutzung in allgemeiner Form und nicht auch die Datennutzung im Rahmen eines Nutzerkontos betrifft, gilt die neue Datenschutzerklärung ab dem Datum ihrer Aktualisierung auf der Webseite. <br>
			<br>
			Eine Änderung der Datenschutzerklärung, die sich auf die Nutzung der bereits erhobenen und für den Versand von Newslettern gespeicherten Daten bezieht, erfolgt nur dann, wenn diese für Sie zumutbar ist. Wenn und soweit sich Änderungen der Datenschutzerklärung auf die Nutzung der bereits erhobenen und für den Versand von Newslettern genutzten Daten beziehen, werden wir Sie rechtzeitig per E-Mail, auf unserer Webseite oder in anderer Form benachrichtigen. Erfolgt innerhalb der genannten Frist kein Widerspruch, gilt die geänderte Datenschutzerklärung als von Ihnen angenommen. Wir werden Sie in der Benachrichtigung auf Ihr Widerspruchsrecht und die Bedeutung der Widerspruchsfrist hinweisen.</p>
		<br>
		<br>
	</div>
