.background-lightblue {
  background-color: #dde4ff;
}

.icon {
  max-width: 20%;
  height: auto;
}

.phone-vertical {
  max-width: 70%;
  height: auto;
}

.phone-tilted {
  max-width: 100%;
  height: auto;
}

.body-text-black {
  font-size: 27px;
  color: #434343;
}

.header-text-blue {
  font-size: 34px;
  color: #014f99;
}

@media (max-width: 991px) {
  .phone-vertical {
    max-width: 40%;
    height: auto;
  }

  .phone-tilted {
    max-width: 70%;
    height: auto;
  }
}
