.icon {
  max-width: 20%;
  height: auto;
}

.phone-vertical {
  max-width: 70%;
  height: auto;
}

.phone-tilted {
  max-width: 100%;
  height: auto;
}

.dots {
  list-style-image: url("../images/dot.png") !important;
  list-style-position: outside;
  padding-left: 40px;
}

li span {
  display: inline;
  margin-left: -1em;
  text-align: center;
}

@media (max-width: 991px) {
  .phone-vertical {
    max-width: 40%;
    height: auto;
  }

  .phone-tilted {
    max-width: 70%;
    height: auto;
  }
}
