.bg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/minimehealth/image/upload/v1667837699/Website/Phone_and_Tablet_Mockup_1_1_qervmq_1_1_jdmnle.png");
}

.bg-img-seperator {
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
