.bg-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/minimehealth/image/upload/v1661345164/Website/Phone_and_Tablet_Mockup_1_1_qervmq.png");
}


// .bg-index {
//   background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/minimehealth/image/upload/v1661345169/Website/mockup_VT_s46fnj.png");
// }

.bg-img-seperator {
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
