.btn-minime {
  color: white !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  border-radius: 100px !important;
  padding: 16px 32px !important;
  border: none !important;
  transition: transform 0.5s;
  /* Animation */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-minime:hover {
  color: white;
  transform: scale(1.1);
}

.btn-aperol {
  background: $aperol  !important;
}

.btn-newsletter {
  background: $lighter-blue  !important;
}

.btn-purple {
  background: $purple  !important;
}

.btn-neon-green {
  background: $neon-green  !important;
}


.btn-aperol-ghost {
  background: white !important;
  color: $aperol  !important;
  border: solid $aperol 1px !important;
}

.btn-aperol-ghost:hover {
  color: $aperol;
}
