.carousel-indicators {
  bottom: 0px !important;
}


.carousel-control-next-icon {
  background-image: none !important;
}

.carousel-control-prev-icon {
  background-image: none !important;
}


@media (max-width: 991px) {
  .carousel-indicators {
    bottom: -20px !important;
  }

}
