.body-image {
  width: 100%;
  height: auto;
}

.background-white {
  background-color: white;
}

@media (max-width: 991px) {
  .body-image {
    width: 60%;
    height: auto;
  }
  .circle-background {
    width: 40%;
  }

  .circle-container {
    display: none;
  }

  .circle-text {
    position: absolute;
  }
}

.circle-background {
  width: 40%;
}

.circle-container {
  position: relative;
  text-align: center;
  color: white;
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
