.body-image {
  width: 100%;
  height: auto;
}

.background-white {
  background-color: white;
}

@media (max-width: 991px) {
  .body-image {
    width: 60%;
    height: auto;
  }
  .circle-background {
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    /* Resize the background image to cover the entire container */
  }

  .circle-text {
    text-align: left;
  }
}

.circle-background {
  background-image: url("../images/circle.png");
  height: 400px;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: fill;
  position: relative;

  text-align: center; /* Resize the background image to cover the entire container */
}

.circle-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
