.bg-header-purple {
  background-image: url(../../images/v3/bg-header-purple.svg);
  // background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.fachkreise-header-img {
  width: 20vw;
  padding: 20px;
  border-radius: 40px;
}
