.faq-item {
  border-color: white;
  background-color: $dark-blue;
  color: white;
}

.faq-question {
  color: white;
  background-color: $dark-blue !important;
  border-color: white;
  padding: 5px 0px;
  text-decoration: none;
}
