footer {
  background-color: #425ba4;
  position: relative;
  padding: 100px;
  margin-top: 0;
  width: 100%;
  p {
    text-align: center;
  }
}

.text-neon {
  color: #35ffcf;
  font-size: 24px;
  font-weight: bold;
}

.text-white {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.text-white:hover {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

.text-pink {
  color: #f8dadb;
  font-size: 16px;
  font-weight: bold;
}

.text-copyright {
  font-size: 16px;
  font-weight: lighter;
  text-align: center !important;
  position: absolute;
  bottom: 0;
  vertical-align: bottom;
  color: #fff;
}

.logo-footer {
  height: 60px;
}

@media (max-width: 991px) {
  .logo-footer {
    height: 30px;
  }
}
