.nav-link {
  font-weight: 500;
}

.navbar {
  overflow: hidden;
}

.background-white {
  background-color: white !important;
}

.color-linen {
  color: #f7ede2ff !important;
}

.color-dark {
  color: black !important;
}

.navbar-toggler > svg {
  color: #5e75b9;
  border: none;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.logo {
  height: 40px;
}
