.nav-link {
  font-weight: 500;
}

.navbar {
  // overflow: hidden;
  // background-color: $light-blue !important;
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.navbar ul li {
  padding: 0px;
}


.navbar .dropdown-menu {
  width: 100%;
  border: none;
}

.active {
  position: relative;
}

.navbar .mini-circle {
  display: none;
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  left: 0;
  top: -10px;
  border: solid $orange 1px;
}


.navbar .active .mini-circle {
  display: block;
}

.nav-link {
  color: $gray;
  padding: 8px 20px !important;
  font-size: 18px !important;
  vertical-align: center !important;
  // height: 50px;
  // line-height: 50px;
  margin-top: 10px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  color: $gray  !important;
  ;
}

// .navbar-toggler > i {
//   color: $gray;
//   border: none;
// }

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
}

.logo {
  height: 50px;
  margin-bottom: 0.7em;
  margin-top: 0.7em;
}

.not-desktop {
  display: none;
}

// @media (max-width: 767px) {
//   .navbar-collapse {
//     background-color: #5e75b9;
//     color: white;
//   }
// }

/* hide close when burger shown */
#close {
  display: none;
}

.border-nav {
  border-bottom: solid;
  border-color: white;
  border-width: 10px;
}

.navbar-collapse {
  flex-grow: 0 !important;
}

/* mobile navbar sidebar under lg breakpoint */


@media (max-width: 767px) {


  .navbar-light .nav-item.active .nav-link,
  .navbar-light .nav-item .nav-link:active,
  .navbar-light .nav-item .nav-link:focus,
  .navbar-light .nav-item:hover .nav-link {
    background: transparent;
  }

  #nb {
    z-index: 2;
  }

  #close {
    display: inline;
    font-size: 40px;
    color: white;
  }

  ul {
    margin: 0 !important;
    padding-left: 0 !important;
  }

  .navbar-collapse.collapsing .navbar-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    // transition: all 0.2s ease;
    color: white;
  }

  .navbar-light .navbar-toggler-icon {
    background-image: url(../../images/logos/hamburger.svg) !important;
  }

  .logo {
    height: 40px;
    justify-self: center;
    margin-bottom: 1em;
    margin-top: 1em;
  }

  .navbar-collapse.show .navbar-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: $blue;
    color: white;
    flex-direction: column;
    height: auto;
    padding-top: 40px;
    width: 100vw;
    // transition: right 0.35s ease;
    // box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  }

  .nav-link {
    color: white !important;
    text-transform: uppercase;
  }

  .navbar-toggle {
    padding-right: 5em !important;
    color: white !important;
  }

  .not-desktop {
    display: inline;
  }

  .rest-links {
    margin-top: 90px;
  }

  .nav-item {
    padding-top: 20px !important;
  }

  .navbar .dropdown-menu {
    background-color: $blue;
    color: white;
    border: none;
    padding: 0;
  }


  .navbar .active .mini-circle {
    display: none;
  }
}
