.indicates-required {
  font-family: $body-font !important;
}

.modal-body {
  margin: 0 auto;
  padding: 3em;
  align-self: center;
  justify-self: center;
}
.border-lightblue {
  border: 10px $light-blue solid;
}

.popup-background {
  background-image: url(../../images/popup.svg);
  background-repeat: no-repeat;
  background-size: fill;
  background-position: top right;
  // margin-bottom: 100px;
}
.close {
  color: $dark-blue !important;
  background-color: transparent !important;
  border: none;
  font-size: 50px;
}

.modal-body p {
  text-align: start !important;
}
.modal-title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: $dark-blue !important;
}

.link > a {
  font-family: $body-font !important;
  font-weight: 500 !important;
  color: $dark-blue !important;
}

.input-group {
  font-family: $body-font !important;
}

label {
  font-family: $body-font !important;
}

.background-news {
  background-color: $light-blue !important;
}

.newsletter-form {
  background-color: $light-blue !important;
  color: $dark-blue !important;
}

input {
  background-color: white !important;
  color: $dark-blue !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark-blue;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $dark-blue;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: $dark-blue;
}

.asterisk {
  color: $dark-blue !important;
}
.newsletter-image {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
}
