.indicates-required {
  font-family: $body-font !important;
}

.close {
  color: $dark-blue !important;
  background-color: transparent !important;
  border: none;
  font-size: 50px;
}

.modal-body p {
  text-align: start !important;
}
.modal-title {
  font-size: 20px !important;
  font-weight: bold !important;
  color: $dark-blue !important;
}

.link > a {
  font-family: $body-font !important;
  font-weight: 500 !important;
  color: $dark-blue !important;
}

.input-group {
  font-family: $body-font !important;
}

label {
  font-family: $body-font !important;
}

.background-news {
  background-color: $light-blue !important;
}

form {
  background-color: $light-blue !important;
  color: $dark-blue !important;
}

input {
  background-color: white !important;
  color: $dark-blue !important;
}

.asterisk {
  color: $dark-blue !important;
}
.newsletter-image {
  width: 50%;
  height: auto;
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
