.indicates-required {
  font-family: $body-font !important;
}

.modal-body {
  margin: 0 auto;
  padding: 3em;
  align-self: center;
  justify-self: center;
}
.border-lightblue {
  border: 10px $light-blue solid;
}

.popup-background {
  background-image: url(../../images/phones-header.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center right;
  background-size: auto 70%;
  // margin-bottom: 100px;
}
.close {
  color: $dark-grey !important;
  background-color: transparent !important;
  border: none;
  font-size: 50px;
}

.modal-body p {
  text-align: start !important;
}


.link > a {
  font-family: $body-font !important;
  font-weight: 500 !important;
  color: $dark-blue !important;
}

.input-group {
  font-family: $body-font !important;
}

label {
  font-family: $body-font !important;
}



input {
  // background-color: §light-grey !important;
  color: $dark-grey !important;
  border-radius: 40px !important;
  border: none !important;
  background-color: $light-gray !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: $dark-grey;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $dark-grey;

}
// #mc_embed_signup .mc-field-group input[type="text"] {
//   border: 1px solid $dark-blue;
//   border-radius: 4px;
// }

// #mc_embed_signup .mc-field-group input[type="email"] {
//   border: 1px solid $dark-blue;
//   border-radius: 4px;
// }

#gdpr_53712 {
  display: inline;
  width: auto;
  margin-right: 5px;
  border: 1px solid $dark-blue !important;
  border-radius: 50%;
}

.asterisk {
  color: $dark-grey !important;
}


#mc-embedded-subscribe {
  margin: 0 !important;
}

@media (max-width: 768px) {
}
