.blue-frame {
  border: 2px;
  border-color: $dark-blue;
  background-color: white;
  border-radius: 10px;
  height: 220px;
  border-style: solid;
}

.mini-minime {
  height: 100px;
  left: 280px;
  top: 0px;
}

.grid-three {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}

.grid-two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  grid-auto-rows: minmax(147.7px, auto);
  grid-row-gap: 35px;
}

.check-box {
  background-image: url(../../images/check_box.svg);
  height: 147.7px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  position: relative;
  border-radius: 10px;
}

.right-text-box {
  width: 55%;
  position: absolute;
  right: 0;
  padding: 10px;
}
