.features {
  list-style: square url("../../images/v3/check-orange.svg");
  // list-style-position: inside;

  margin: 0 !important;
  padding-left: 30px !important;

  li {
    padding: 5px;
    // margin-left: 10px;
  }
}

.cards-price {
  min-height: 600px;
}
