.bg-prices {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/minimehealth/image/upload/v1661346195/Website/lamp-min_oovv82.png");
}

.features {
  list-style: square url("../../images/v3/check-purple.svg");
  // list-style-position: inside;

  margin: 0 !important;
  padding-left: 30px !important;

  li {
    padding: 5px;
    // margin-left: 10px;
  }
}

.cards-price {
  min-height: 600px;
}
