.roadmap {
  background-image: url("../images/rm_desktop.png");
  background-repeat: no-repeat;
  height: 50vh;
  background-position: center; /* Center the image */
  background-size: contain; /* Resize the background image to cover the entire container */
}

@media (max-width: 991px) {
  .roadmap {
    background-image: url("../images/rm_mobile.png");
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center; /* Center the image */
    background-size: contain; /* Resize the background image to cover the entire container */
  }
}
