.circle-security  {
  border-radius: 150%;
  height: 150px;
  width: 150px;
  background-image: url(../../images/v3/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
}
