.partner {
  width: 120px;
}

.blue-box {
  background-color: $dark-blue;
  border-radius: 10px;
}

.blue-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.card {
  border: none;
}

.card-team-img {
  overflow: hidden;
  /* min-height: 200px; */
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .partner {
    width: 50px;
  }

  .blue-box {
    background-color: $dark-blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .partner {
    width: 50px;
  }

  .blue-box {
    background-color: $dark-blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}
