.bg-team-header {
  background-image: url(../../images/v3/bg-orange.svg);
  // background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 400px; /* You must set a specified height */
}

.bg-team-checks {
  background-image: url(../../images/v3/bg-orange-long.svg);
  // background-position: right bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle-team {
  border-radius: 150%;
  height: 150px;
  width: 150px;
  background-color: #FFF3F0;
  background-image: url(../../images/v3/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}



.team-header-img {
  width: 40vw
}

.accordion-button:not(.collapsed) {
  background-color: white;
  color: $gray;
  box-shadow: inset;
  border: none !important;
}

.accordion-body {
  background-color: white;
  padding: 1rem !important;
}

#free-pos {
  // background-color: #fff;
  border: none !important;
}

.partner {
  width: 120px;
}

.blue-box {
  background-color: $blue;
  border-radius: 10px;
}

.blue-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
}

.card {
  border: none;
}

.card-team-img {
  overflow: hidden;
  /* min-height: 200px; */
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .partner {
    width: 100px;
  }

  .blue-box {
    background-color: $blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .partner {
    width: 50px;
  }

  .blue-box {
    background-color: $blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}
