// .bg-team-checks {
//   background-image: url(../../images/v3/bg-orange-long.svg);
//   // background-position: right bottom;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

.bg-team {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://res.cloudinary.com/minimehealth/image/upload/v1679651520/Website/team_work_hsmqic-min_tsxkgx.jpg");
}


.team-header-img {
  // display: block;
  height: 600px;
  // width: 100%;
  width: 100%;
  // object-fit: cover;
}

.circle-team {
  border-radius: 150%;
  height: 150px;
  width: 150px;
  background-color: #FFF3F0;
  background-image: url(../../images/v3/check.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: fill;
  // box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}

.image-width-200 {
  width: 200px;
}

.circle-border {
  border: 1px solid $tension;
  border-radius: 50%;
  padding: 10px;
  width: 220px;
}

#company-values .mini-circle {
  position: absolute;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  left: 15px;
  top: -30px;
}

.image-width-400 {
  width: 400px;
}

#founders .circle-border {
  border: 1px solid $tension;
  border-radius: 50%;
  padding: 10px;
  width: 420px;
}



// .team-header-img {
//   // width: 50vw;
//   position: absolute;
//   right: 0;
//   top: 0;
// }

.accordion-button:not(.collapsed) {
  background-color: white;
  color: $gray;
  box-shadow: inset;
  border: none !important;
}

.accordion-body {
  background-color: white;
  padding: 1rem !important;
}

#free-pos {
  // background-color: #fff;
  border: none !important;
}

.partner {
  width: 120px;
}


.blue-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  overflow: auto;
  white-space: nowrap;
}


.card-team-img {
  overflow: hidden;
  /* min-height: 200px; */
  flex-shrink: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.card-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .partner {
    width: 100px;
  }

  .blue-box {
    background-color: $blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .partner {
    width: 50px;
  }

  .blue-box {
    background-color: $blue;
    border-radius: 10px;
  }

  .blue-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .card {
    border: none;
  }

  .card-team-img {
    overflow: hidden;
    /* min-height: 200px; */
    flex-shrink: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  .card-body {
    display: flex;
    flex-direction: column;
  }
}
