.background-lightpink {
  background-color: #ffedee;
}

.body-text-black-small {
  color: #434343;
}

.dots {
  list-style-image: url("../images/dot.png") !important;
  list-style-position: outside;
  padding-left: 40px;
}

li span {
  display: inline;
  margin-left: -1em;
  text-align: center;
}
