.blue-grid-right {
  display: grid;
  grid-template-columns: 2.5fr 1fr 1fr 1fr;
  grid-gap: 8px;
}

.margin-right {
  margin-right: 20px;
}

.list-text {
  line-height: 32px;
}

li span {
  position: relative;
  left: -10px;
}

ul {
  padding-left: 1.5em !important;
}
