/* CSS HEX */
$light-gray: gray;
$gray: #515151;
$blue: #5fb8de;
$green: green;
$yellow: yellow;
$red: red;
$orange: #ff896d;

// our colors!

$dark-blue: #5fb8de;
$neon-green: #3ddfd5;
$aperol: #ff896d;
$dark-grey: #515151;

// Auxiliary Colors

$light-blue: #b3e0ea;
$ocker: #dddf6c;
$light-orange: #f1b47c;
$rose: #f3c7bf;
$pink: #de5f8d;
$lilac: #9a8fc1;
$purple: #833e78;

.text-blue {
  color: #425ba4;
}
