<%= partial "partials/navbar" %>
<div class="container text-left p-5">
 <h1>Datenschutzerklärung</h1>
 <br>
 <br>
 <h2>1. Datenschutz auf einen Blick</h2>
 <br>
 <br>
 <h3>Allgemeine Hinweise</h3>
 <br>
 <p>Die folgenden Hinweise geben einen einfachen Überblick darüber, was mit Ihren personenbezogenen Daten passiert, wenn Sie diese Website besuchen. Personenbezogene Daten sind alle Daten, mit denen Sie persönlich identifiziert werden können. Ausführliche Informationen zum Thema Datenschutz entnehmen Sie unserer unter diesem Text aufgeführten Datenschutzerklärung. </p>
 <br>
 <br>
 <h3>Datenerfassung auf dieser Website</h3>
 <br>
 <p>Wer ist verantwortlich für die Datenerfassung auf dieser Website? Die Datenverarbeitung auf dieser Website erfolgt durch den Websitebetreiber. Dessen Kontaktdaten können Sie dem Impressum dieser Website entnehmen. </p>
 <br>
 <br>
 <h3>Wie erfassen wir Ihre Daten?</h3>
 <br>
 <p>Ihre Daten werden zum einen dadurch erhoben, dass Sie uns diese mitteilen. Hierbei kann es sich z. B. um Daten handeln, die Sie in ein Kontaktformular eingeben. </p>
 <p>Andere Daten werden automatisch oder nach Ihrer Einwilligung beim Besuch der Website durch unsere ITSysteme erfasst. Das sind vor allem technische Daten (z. B. Internetbrowser, Betriebssystem oder Uhrzeit des Seitenaufrufs). Die Erfassung dieser Daten erfolgt automatisch, sobald Sie diese Website betreten. </p>
 <br>
 <h3>Wofür nutzen wir Ihre Daten?</h3>
 <br>
 <p>Ein Teil der Daten wird erhoben, um eine fehlerfreie Bereitstellung der Website zu gewährleisten. Andere Daten können zur Analyse Ihres Nutzerverhaltens verwendet werden.</p>
 <br>
 <h3>Welche Rechte haben Sie bezüglich Ihrer Daten?</h3>
 <br>
 <p>Sie haben jederzeit das Recht, unentgeltlich Auskunft über Herkunft, Empfänger und Zweck Ihrer gespeicherten personenbezogenen Daten zu erhalten. Sie haben außerdem ein Recht, die Berichtigung oder Löschung dieser Daten zu verlangen. Wenn Sie eine Einwilligung zur Datenverarbeitung erteilt haben, können Sie diese Einwilligung jederzeit für die Zukunft widerrufen. Außerdem haben Sie das Recht, unter bestimmten Umständen die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen.</p>
 <p>Des Weiteren steht Ihnen ein Beschwerderecht bei der zuständigen Aufsichtsbehörde zu.
 Hierzu sowie zu weiteren Fragen zum Thema Datenschutz können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. 
 </p>
 <br>
 <h3>Analyse-Tools und Tools von Drittanbietern</h3>
 <br>
 <p>Beim Besuch dieser Website kann Ihr Surf-Verhalten statistisch ausgewertet werden. Das geschieht vor allem mit sogenannten Analyseprogrammen. 
 Detaillierte Informationen zu diesen Analyseprogrammen finden Sie in der folgenden Datenschutzerklärung.
 </p>
 <br>
 <br>
 <h2>2. Hosting und Content Delivery Networks (CDN)</h2>
 <br>
 <br>
 <h3>Externes Hosting</h3>
 <br>
 <p>Diese Website wird bei einem externen Dienstleister gehostet (Hoster). Die personenbezogenen Daten, die auf dieser Website erfasst werden, werden auf den Servern des Hosters gespeichert. Hierbei kann es sich v. a. um IP-Adressen, Kontaktanfragen, Meta- und Kommunikationsdaten, Vertragsdaten, Kontaktdaten, Namen, Websitezugriffe und sonstige Daten, die über eine Website generiert werden, handeln. </p>

 <p>Der Einsatz des Hosters erfolgt zum Zwecke der Vertragserfüllung gegenüber unseren potenziellen und bestehenden Kunden (Art. 6 Abs. 1 lit. b DSGVO) und im Interesse einer sicheren, schnellen und effizienten Bereitstellung unseres Online-Angebots durch einen professionellen Anbieter (Art. 6 Abs. 1 lit. f DSGVO).</p>

 <p>Unser Hoster wird Ihre Daten nur insoweit verarbeiten, wie dies zur Erfüllung seiner Leistungspflichten erforderlich ist und unsere Weisungen in Bezug auf diese Daten befolgen. </p>

 <br>
 <br>
 <h3>Wir setzen folgenden Hoster ein:</h3>
 <br>
 <p>Amazon Web Services:- Hosting</p>
 
 <p>minime nutzt für das Hosting der Datenbank- und Webinhalte den Dienst Amazon Web Services („AWS“) der Amazon Web Services, Inc., P.O. Box 81226, Seattle, WA 98108-1226, USA. Die Daten werden ausschließlich in einem deutschen Rechenzentrum (Frankfurt/Main) gespeichert, das nach ISO 27001, 27017 und 2018 sowie PCI DSS Level 1 zertifiziert ist. Selbstverständlich bestehen unsererseits eng begrenzte Zugriffsrechte und die Daten werden automatisch verschlüsselt. AWS hat sich als Unternehmen dem sog. Privacy Shield-Abkommen angeschlossen. Nähere Informationen zu AWS und zum Datenschutz finden Sie unter <a href="https://aws.amazon.com/de/compliance/eu-data-protection/">https://aws.amazon.com/de/compliance/eu-data-protection/</a> sowie unter https://aws.amazon.com/de/privacy/.
 </p>
 <br>
 <br>
 <h3>Abschluss eines Vertrages über Auftragsverarbeitung</h3>
 <br>
 <p>Um die datenschutzkonforme Verarbeitung zu gewährleisten, haben wir einen Vertrag über Auftragsverarbeitung mit unserem Hoster geschlossen.</p>
 <br>
 <br>
 <h2>3. Allgemeine Hinweise und Pflichtinformationen</h2>
 <br>
 <br>
 <h3>Datenschutz</h3>
 <br>
 <p>Die Betreiber dieser Seiten nehmen den Schutz Ihrer persönlichen Daten sehr ernst. Wir behandeln Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.</p>
 <p>Wenn Sie diese Website benutzen, werden verschiedene personenbezogene Daten erhoben. Personenbezogene Daten sind Daten, mit denen Sie persönlich identifiziert werden können. Die vorliegende Datenschutzerklärung erläutert, welche Daten wir erheben und wofür wir sie nutzen. Sie erläutert auch, wie und zu welchem Zweck das geschieht. 
 <br>
 Wir weisen darauf hin, dass die Datenübertragung im Internet (z. B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht möglich. 
 </p>

 <br>
 <br>
 <h3>Hinweis zur verantwortlichen Stelle</h3>
 <br>
 <p>Die verantwortliche Stelle für die Datenverarbeitung auf dieser Website ist:</p>
 <br>
 <p>Sepideh Razazzadeh</p>
 <p>c/o Vision Health Pioneers</p>
 <p>Wöhlertstraße 14</p>
 <p>10115 Berlin</p>
 <br>
 <br>
 <h3>Kontakt</h3>
 <br>
 <p>Telefon: +49 (0) 1522 3590 776</p>
 <p>E-Mail: <a href="mailto:DATA@MINIME.HEALTH?subject=Datenschutzanfrage von der MINIME Webseite">DATA@MINIME.HEALTH</a></p>
 <br>
 <p>Verantwortliche Stelle ist die natürliche oder juristische Person, die allein oder gemeinsam mit anderen über die Zwecke und Mittel der Verarbeitung von personenbezogenen Daten (z. B. Namen, E-Mail-Adressen o. Ä.) entscheidet. </p>
 <br>
 <br>
 <h3>Speicherdauer</h3>
 <br>
 <p>Soweit innerhalb dieser Datenschutzerklärung keine speziellere Speicherdauer genannt wurde, verbleiben Ihre personenbezogenen Daten bei uns, bis der Zweck für die Datenverarbeitung entfällt. Wenn Sie ein berechtigtes Löschersuchen geltend machen oder eine Einwilligung zur Datenverarbeitung widerrufen, werden Ihre Daten gelöscht, sofern wir keinen anderen rechtlich zulässigen Gründe für die Speicherung Ihrer personenbezogenen Daten haben (z.B. steuer- oder handelsrechtliche Aufbewahrungsfristen); im letztgenannten Fall erfolgt die Löschung nach Fortfall dieser Gründe. </p>
 <br>
 <br>
 <h3>Gesetzlich vorgeschriebener Datenschutzbeauftragter</h3>
 <br>
 <p>Wir haben für unser Unternehmen einen Datenschutzbeauftragten bestellt.
</p>
 <br>
 <p>Sepideh Razazzadeh</p>
 <p>c/o Vision Health Pioneers</p>
 <p>Wöhlertstraße 14</p>
 <p>10115 Berlin</p>
 <br>
 <br>
 <h3>Kontakt</h3>
 <br>
 <p>Telefon: +49 (0) 1522 3590 776</p>
 <p>E-Mail: <a href="mailto:DATA@MINIME.HEALTH?subject=Datenschutzanfrage von der MINIME Webseite">DATA@MINIME.HEALTH</a></p>

 <br>
 <br>
 <h3>Hinweis zur Datenweitergabe in die USA
</h3>
 <br>
 <p>Auf unserer Website sind unter anderem Tools von Unternehmen mit Sitz in den USA eingebunden. Wenn diese Tools aktiv sind, können Ihre personenbezogenen Daten an die US-Server der jeweiligen Unternehmen weitergegeben werden. Wir weisen darauf hin, dass die USA kein sicherer Drittstaat im Sinne des EU-Datenschutzrechts sind. US-Unternehmen sind dazu verpflichtet, personenbezogene Daten an Sicherheitsbehörden herauszugeben, ohne dass Sie als Betroffener hiergegen gerichtlich vorgehen könnten. </p>
 <p>Es kann daher nicht ausgeschlossen werden, dass US-Behörden (z.B. Geheimdienste) Ihre auf US-Servern befindlichen Daten zu Überwachungszwecken verarbeiten, auswerten und dauerhaft speichern. Wir haben auf diese Verarbeitungstätigkeiten keinen Einfluss. </p>
 <br>
 <br>
 <h3>Widerruf Ihrer Einwilligung zur Datenverarbeitung
</h3>
 <br>
 <p>Viele Datenverarbeitungsvorgänge sind nur mit Ihrer ausdrücklichen Einwilligung möglich. Sie können eine bereits erteilte Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bis zum Widerruf erfolgten Datenverarbeitung bleibt vom Widerruf unberührt. </p>
 <br>
 <br>
 <h3>Widerspruchsrecht gegen die Datenerhebung in besonderen Fällen sowie gegen Direktwerbung (Art. 21 DSGVO)
</h3>
 <br>
 <p>Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung Sie betreffender personenbezogener Daten, die aufgrund von Art. 6 Abs. 1 lit. e (Datenverarbeitung im öffentlichen Interesse) oder f (Datenverarbeitung auf Grundlage einer Interessenabwägung) DS-GVO erfolgt, Widerspruch einzulegen.</p>
 <p>Dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling im Sinne von Art. 4 Nr. 4 DS-GVO.
 Legen Sie Widerspruch ein, werden wir Ihre personenbezogenen Daten nicht mehr verarbeiten, es sei denn, wir können zwingende berechtigte Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.
 </p>
 <p>In Einzelfällen verarbeiten wir personenbezogene Daten, um Direktwerbung zu betreiben. Sie können jederzeit Widerspruch gegen die Verarbeitung der personenbezogenen Daten zum Zwecke derartiger Werbung einlegen. Dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht. Widersprechen Sie uns gegenüber der Verarbeitung für Zwecke der Direktwerbung, so werden wir die personenbezogenen Daten nicht mehr für diese Zwecke verarbeiten.</p>
 <p>Zudem haben Sie das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben, gegen die Sie betreffende Verarbeitung personenbezogener Daten, die bei uns zu wissenschaftlichen oder historischen Forschungszwecken oder zu statistischen Zwecken gemäß Art. 89 Abs. 1 DS-GVO erfolgen, Widerspruch einzulegen, es sei denn, eine solche Verarbeitung ist zur Erfüllung einer im öffentlichen Interesse liegenden Aufgabe erforderlich.</p>
 <p>Ihnen steht es frei, im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft, ungeachtet der Richtlinie 2002/58/EG, Ihr Widerspruchsrecht mittels automatisierter Verfahren auszuüben, bei denen technische Spezifikationen verwendet werden.</p>
 <br>
 <br>
 <h3>Beschwerderecht bei der zuständigen Aufsichtsbehörde</h3>
 <br>
 <p>Im Falle von Verstößen gegen die DSGVO steht den Betroffenen ein Beschwerderecht bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthalts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes zu. Das Beschwerderecht besteht unbeschadet anderweitiger verwaltungsrechtlicher oder gerichtlicher Rechtsbehelfe. </p>
 <br>
 <br>
 <h3>Recht auf Datenübertragbarkeit</h3>
 <br>
 <p>Sie haben das Recht, Daten, die wir auf Grundlage Ihrer Einwilligung oder in Erfüllung eines Vertrags automatisiert verarbeiten, an sich oder an einen Dritten in einem gängigen, maschinenlesbaren Format aushändigen zu lassen. Sofern Sie die direkte Übertragung der Daten an einen anderen Verantwortlichen verlangen, erfolgt dies nur, soweit es technisch machbar ist. </p>
 <br>
 <br>
 <h3>SSL- bzw. TLS-Verschlüsselung</h3>
 <br>
 <p>Diese Seite nutzt aus Sicherheitsgründen und zum Schutz der Übertragung vertraulicher Inhalte, wie zum Beispiel Bestellungen oder Anfragen, die Sie an uns als Seitenbetreiber senden, eine SSL- bzw. TLS-Verschlüsselung</p>
 <p>Eine verschlüsselte Verbindung erkennen Sie daran, dass die Adresszeile des Browsers von „http://“ auf „https://“ wechselt und an dem Schloss-Symbol in Ihrer Browserzeile. Wenn die SSL- bzw. TLS-Verschlüsselung aktiviert ist, können die Daten, die Sie an uns übermitteln, nicht von Dritten mitgelesen werden.</p>
 <br>
 <br>
 <h3>Auskunft, Löschung und Berichtigung</h3>
 <br>
 <p>Sie haben im Rahmen der geltenden gesetzlichen Bestimmungen jederzeit das Recht auf unentgeltliche Auskunft über Ihre gespeicherten personenbezogenen Daten, deren Herkunft und Empfänger und den Zweck der Datenverarbeitung und ggf. ein Recht auf Berichtigung oder Löschung dieser Daten. Hierzu sowie zu weiteren Fragen zum Thema personenbezogene Daten können Sie sich jederzeit unter der im Impressum 
angegebenen Adresse an uns wenden.
</p>
 <br>
 <br>
 <h3>Recht auf Einschränkung der Verarbeitung</h3>
 <br> 
 <p>Sie haben das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. Hierzu können Sie sich jederzeit unter der im Impressum angegebenen Adresse an uns wenden. Das Recht auf Einschränkung der Verarbeitung besteht in folgenden Fällen: </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Wenn Sie die Richtigkeit Ihrer bei uns gespeicherten personenbezogenen Daten bestreiten, benötigen wir in der Regel Zeit, um dies zu überprüfen. Für die Dauer der Prüfung haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. </span></li>
 <li class="body-text-blue"><span>Wenn die Verarbeitung Ihrer personenbezogenen Daten unrechtmäßig geschah/geschieht, können Sie statt der Löschung die Einschränkung der Datenverarbeitung verlangen. </span></li>
 <li class="body-text-blue"><span>
 Wenn wir Ihre personenbezogenen Daten nicht mehr benötigen, Sie sie jedoch zur Ausübung, Verteidigung oder Geltendmachung von Rechtsansprüchen benötigen, haben Sie das Recht, statt der Löschung die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. 
 </span></li>
 <li class="body-text-blue"><span>Wenn Sie einen Widerspruch nach Art. 21 Abs. 1 DSGVO eingelegt haben, muss eine Abwägung zwischen Ihren und unseren Interessen vorgenommen werden. Solange noch nicht feststeht, wessen Interessen überwiegen, haben Sie das Recht, die Einschränkung der Verarbeitung Ihrer personenbezogenen Daten zu verlangen. </span></li>
 <li class="body-text-blue"><span>Wenn Sie die Verarbeitung Ihrer personenbezogenen Daten eingeschränkt haben, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Europäischen Union oder eines Mitgliedstaats verarbeitet werden. </span></li>
 </ul>
 <br>
 <br>
 <h2>4. Datenerfassung auf dieser Website</h2>
 <br>
 <br>
 <h3>Cookies</h3>
 <br>
 <p>Unsere Internetseiten verwenden sogenannte „Cookies“. Cookies sind kleine Textdateien und richten auf Ihrem Endgerät keinen Schaden an. Sie werden entweder vorübergehend für die Dauer einer Sitzung (Session-Cookies) oder dauerhaft (permanente Cookies) auf Ihrem Endgerät gespeichert. Session-Cookies werden nach Ende Ihres Besuchs automatisch gelöscht. Permanente Cookies bleiben auf Ihrem Endgerät gespeichert, bis Sie diese selbst löschen oder eine automatische Löschung durch Ihren Webbrowser erfolgt. </p>
 <p>Teilweise können auch Cookies von Drittunternehmen auf Ihrem Endgerät gespeichert werden, wenn Sie unsere Seite betreten (Third-Party-Cookies). Diese ermöglichen uns oder Ihnen die Nutzung bestimmter Dienstleistungen des Drittunternehmens (z.B. Cookies zur Abwicklung von Zahlungsdienstleistungen). </p>
 <p>Cookies haben verschiedene Funktionen. Zahlreiche Cookies sind technisch notwendig, da bestimmte Websitefunktionen ohne diese nicht funktionieren würden (z.B. die Warenkorbfunktion oder die Anzeige von Videos). Andere Cookies dienen dazu, das Nutzerverhalten auszuwerten oder Werbung anzuzeigen. </p>
 <p>Cookies, die zur Durchführung des elektronischen Kommunikationsvorgangs (notwendige Cookies) oder zur Bereitstellung bestimmter, von Ihnen erwünschter Funktionen (funktionale Cookies, z. B. für die Warenkorbfunktion) oder zur Optimierung der Website (z.B. Cookies zur Messung des Webpublikums) erforderlich sind, werden auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO gespeichert, sofern keine andere Rechtsgrundlage angegeben wird. 
 </p>
 <p>Der Websitebetreiber hat ein berechtigtes Interesse an der Speicherung von Cookies zur technisch fehlerfreien und optimierten Bereitstellung seiner Dienste. Sofern eine Einwilligung zur Speicherung von Cookies abgefragt wurde, erfolgt die Speicherung der betreffenden Cookies ausschließlich auf Grundlage dieser Einwilligung (Art. 6 Abs. 1 lit. a DSGVO); die Einwilligung ist jederzeit widerrufbar. </p>
 <p>Sie können Ihren Browser so einstellen, dass Sie über das Setzen von Cookies informiert werden und Cookies nur im Einzelfall erlauben, die Annahme von Cookies für bestimmte Fälle oder generell ausschließen sowie das automatische Löschen der Cookies beim Schließen des Browsers aktivieren. Bei der Deaktivierung von Cookies kann die Funktionalität dieser Website eingeschränkt sein. </p>
 <p>Soweit Cookies von Drittunternehmen oder zu Analysezwecken eingesetzt werden, werden wir Sie hierüber im Rahmen dieser Datenschutzerklärung gesondert informieren und ggf. eine Einwilligung abfragen. </p>

 <br>
 <br>
 <h4>Server-Log-Dateien</h4>
 <br>
 <p>Der Provider der Seiten erhebt und speichert automatisch Informationen in so genannten Server-Log- Dateien, die Ihr Browser automatisch an uns übermittelt. Dies sind: </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Browsertyp und Browserversion</span></li>
 <li class="body-text-blue"><span>verwendetes Betriebssystem</span></li>
 <li class="body-text-blue"><span>Referrer URL</span></li>
 <li class="body-text-blue"><span>Hostname des zugreifenden Rechners</span></li>
 <li class="body-text-blue"><span>Uhrzeit der Serveranfrage</span></li>
 <li class="body-text-blue"><span>IP-Adresse</span></li>
 </ul>
 <p>Eine Zusammenführung dieser Daten mit anderen Datenquellen wird nicht vorgenommen. Die Erfassung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der technisch fehlerfreien Darstellung und der Optimierung seiner Website – hierzu müssen die Server-Log-Files erfasst werden
 </p>
 <br>
 <br>
 <h4>Usercentrics Consent Management Platform</h4>
 <br>
 <h5 class="body-text-blue">Servicebeschreibung</h5>
 <br>
 <p>Dies ist ein Zustimmungsverwaltungsdienst.</p>
 <br>
 <h5 class="body-text-blue">Unternehmen, das die Daten verarbeitet</h5>
 <br>
 <p>Usercentrics GmbH
 Sendlinger Str. 7, 80331 Munich, Germany
 datenschutz@usercentrics.com
 </p>
 <br>
 <h5 class="body-text-blue">Datenschutzbeauftragter</h5>
 <br>
 <p>Nachfolgend finden Sie die E-Mail-Adresse des Datenschutzbeauftragten des verarbeitenden Unternehmens.
 datenschutz@usercentrics.com
 </p>
 <br>
 <h5 class="body-text-blue">Datenverarbeitungszwecke</h5>
 <br>
 <p>Diese Liste stellt die Zwecke der Datenerhebung und -verarbeitung dar. Eine Einwilligung gilt nur für die angegebenen Zwecke. Die gesammelten Daten können nicht für einen anderen als den unten aufgeführten Zweck verwendet oder gespeichert werden.</p>
 <ul class="dots">
 <li class="body-text-blue"><span>Einhaltung der gesetzlichen Verpflichtungen</span></li>
 <li class="body-text-blue"><span>Einwilligungsspeicherung</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Verwendete Technologien</h5>
 <br>
 <p>Diese Liste enthält alle Technologien, mit denen dieser Dienst Daten sammelt. Typische Technologien sind Cookies und Pixel, die im Browser platziert werden.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Cookies</span></li>
 <li class="body-text-blue"><span>Local Storage</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Erhobene Daten</h5>
 <br>
 <p>Diese Liste enthält alle (persönlichen) Daten, die von oder durch die Nutzung dieses Dienstes gesammelt werden.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Browser-Informationen</span></li>
 <li class="body-text-blue"><span>Datum und Uhrzeit des Besuchs</span></li>
 <li class="body-text-blue"><span>Geräteinformationen</span></li>
 <li class="body-text-blue"><span>Geografischer Standort</span></li>
 <li class="body-text-blue"><span>Opt-in- und Opt-out-Daten</span></li>
 <li class="body-text-blue"><span>Request-URL der Webseite</span></li>
 <li class="body-text-blue"><span>Seitenpfad der Webseite</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Rechtliche Grundlage</h5>
 <br>
 <p>Im folgenden wird die erforderliche Rechtsgrundlage für die Verarbeitung von Daten genannt
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Art. 6 Abs. 1 S. 1 lit. c DSGVO</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Ort der Verarbeitung</h5>
 <br>
 <p>Dies ist der primäre Ort, an dem die gesammelten Daten verarbeitet werden. Sollten die Daten auch in anderen Ländern verarbeitet werden, werden Sie gesondert informiert.
 Europäische Union (Zustimmungsdatenbank befindet sich in Belgien)
 </p>
 <br>
 <h5 class="body-text-blue">Dauer zum Speichern der Daten</h5>
 <br>
 <p>Die Aufbewahrungsfrist ist die Zeitspanne, in der die gesammelten Daten für die Verarbeitung gespeichert werden. Die Daten müssen gelöscht werden, sobald sie für die angegebenen Verarbeitungszwecke nicht mehr benötigt werden.
 Die Einwilligungsdaten (Einwilligung und Widerruf der Einwilligung) werden drei Jahre lang gespeichert. Die Daten werden dann sofort gelöscht oder auf Anfrage in Form eines Datenexports an die verantwortliche Person weitergegeben.
 </p>
 <br>
 <h5 class="body-text-blue">Datenempfänger</h5>
 <br>
 <p>Im Folgenden werden die Empfänger der erhobenen Daten aufgelistet.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Usercentrics GmbH</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Klicken Sie hier, um die Datenschutzbestimmungen des Datenverarbeiters zu lesen</h5>
 <br>
 <p>https://usercentrics.com/privacy-policy/</p>
 <br>
 <br>
 <%# <h4>Google Analytics</h4>
 <br>
 <h5 class="body-text-blue">Servicebeschreibung</h5>
 <br>
 <p>Google Analytics verwendet so genannte „Cookies“. Das sind Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
 Die Speicherung von Google-Analytics-Cookies und die Nutzung dieses Analyse-Tools erfolgen auf Grundlage von Art. 6 Abs. 1 lit. f DSGVO. Der Websitebetreiber hat ein berechtigtes Interesse an der Analyse des Nutzerverhaltens, um sowohl sein Webangebot als auch seine Werbung zu optimieren.
 </p>
 <br>
 <br>
 <h5 class="body-text-blue">Unternehmen, das die Daten verarbeitet</h5>
 <br>
 <p>Diese Website nutzt Funktionen des Webanalysedienstes Google Analytics. Anbieter ist die Google Inc., 1600 Amphitheatre Parkway, Mountain View, CA 94043, USA.
 </p>
 <br>
 <h5 class="body-text-blue">IP Anonymisierung</h5>
 <br>
 <p>Wir haben auf dieser Website die Funktion IP-Anonymisierung aktiviert. Dadurch wird Ihre IP-Adresse von Google innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum vor der Übermittlung in die USA gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt.
 </p>
 <br>
 <h5 class="body-text-blue">Browser Plugin</h5>
 <br>
 <p>Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch den Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="https://tools.google.com/dlpage/gaoptout?hl=de">https://tools.google.com/dlpage/gaoptout?hl=de</a> .
 </p>
 <br>
 <h5 class="body-text-blue">Widerspruch gegen Datenerfassung</h5>
 <br>
 <p>Sie können die Erfassung Ihrer Daten durch Google Analytics verhindern, indem Sie auf folgenden Link klicken. Es wird ein Opt-Out-Cookie gesetzt, der die Erfassung Ihrer Daten bei zukünftigen Besuchen dieser Website verhindert: Google Analytics deaktivieren.</p>
 <p>Mehr Informationen zum Umgang mit Nutzerdaten bei Google Analytics finden Sie in der Datenschutzerklärung von Google: https://support.google.com/analytics/answer/6004245?hl=de.
 </p>
 <br>
 <h5 class="body-text-blue">Auftragsverarbeitung</h5>
 <br>
 <p>Wir haben mit Google einen Vertrag zur Auftragsverarbeitung abgeschlossen und setzen die strengen Vorgaben der deutschen Datenschutzbehörden bei der Nutzung von Google Analytics vollständig um.</p> %>
 <br>
 <br>
 <h4>Mailchimp</h4>
 <br>
 <h5 class="body-text-blue">Servicebeschreibung</h5>
 <br>
 <p>Dies ist ein Werbe- und E-Mail-Kampagnendienst.</p>
 <br>
 <h5 class="body-text-blue">Unternehmen, das die Daten verarbeitet</h5>
 <br>
 <p>The Rocket Science Group LLC
 675 Ponce de Leon Ave NE, Suite 5000 Atlanta, GA 30308, United States of America
 privacy@mailchimp.com
 </p>
 <br>
 <h5 class="body-text-blue">Datenschutzbeauftragter</h5>
 <br>
 <p>Nachfolgend finden Sie die E-Mail-Adresse des Datenschutzbeauftragten des verarbeitenden Unternehmens.
privacy@mailchimp.com
 </p>
 <br>
 <h5 class="body-text-blue">Datenverarbeitungszwecke</h5>
 <br>
 <p>Diese Liste stellt die Zwecke der Datenerhebung und -verarbeitung dar. Eine Einwilligung gilt nur für die angegebenen Zwecke. Die gesammelten Daten können nicht für einen anderen als den unten aufgeführten Zweck verwendet oder gespeichert werden.</p>
 <ul class="dots">
 <li class="body-text-blue"><span>Werbung</span></li>
 <li class="body-text-blue"><span>E-Mail Kampagnen</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Verwendete Technologien</h5>
 <br>
 <p>Diese Liste enthält alle Technologien, mit denen dieser Dienst Daten sammelt. Typische Technologien sind Cookies und Pixel, die im Browser platziert werden.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Cookies</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Erhobene Daten</h5>
 <br>
 <p>Diese Liste enthält alle (persönlichen) Daten, die von oder durch die Nutzung dieses Dienstes gesammelt werden.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Browser-ID</span></li>
 <li class="body-text-blue"><span>Browser-Informationen</span></li>
 <li class="body-text-blue"><span>Datum und Uhrzeit des E-Mail-Zugriffs</span></li>
 <li class="body-text-blue"><span>Gerätebestriebssystem</span></li>
 <li class="body-text-blue"><span>E-Mail-Adresse</span></li>
 <li class="body-text-blue"><span>IP-Adresse</span></li>
 <li class="body-text-blue"><span>Metriken in Bezug auf die Leistung von Services</span></li>
 <li class="body-text-blue"><span>Besuchte Seiten</span></li>
 <li class="body-text-blue"><span>Eindeutige Gerätekennung</span></li>
 <li class="body-text-blue"><span>Nutzungsdaten</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Rechtliche Grundlage</h5>
 <br>
 <p>Im folgenden wird die erforderliche Rechtsgrundlage für die Verarbeitung von Daten genannt
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>Art. 6 Abs. 1 S. 1 lit. c DSGVO</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Ort der Verarbeitung</h5>
 <br>
 <p>Dies ist der primäre Ort, an dem die gesammelten Daten verarbeitet werden. Sollten die Daten auch in anderen Ländern verarbeitet werden, werden Sie gesondert informiert: Vereinigte Staaten von Amerika
 </p>
 <br>
 <h5 class="body-text-blue">Dauer zum Speichern der Daten</h5>
 <br>
 <p>Die Aufbewahrungsfrist ist die Zeitspanne, in der die gesammelten Daten für die Verarbeitung gespeichert werden. Die Daten müssen gelöscht werden, sobald sie für die angegebenen Verarbeitungszwecke nicht mehr benötigt werden.
 </p>
 <br>
 <h5 class="body-text-blue">Weitergabe an Drittländer</h5>
 <br>
 <p>Dieser Service kann die erfassten Daten an ein anderes Land weiterleiten. Bitte beachten Sie, dass dieser Service Daten außerhalb der Europäischen Union und des europäischen Wirtschaftsraums und in ein Land, welches kein angemessenes Datenschutzniveau bietet, übertragen kann. Falls die Daten in die USA übertragen werden, besteht das Risiko, dass Ihre Daten von US Behörden zu Kontroll- und Überwachungszwecken verarbeitet werden können, ohne dass Ihnen möglicherweise Rechtsbehelfsmöglichkeiten zustehen. Nachfolgend finden Sie eine Liste der Länder, in die die Daten übertragen werden. Dies kann für verschiedene Zwecke der Fall sein, z. B. zum Speichern oder Verarbeiten.
 - Vereinigte Staaten von Amerika

 </p>
 <br>
 <h5 class="body-text-blue">Datenempfänger</h5>
 <br>
 <p>Im Folgenden werden die Empfänger der erhobenen Daten aufgelistet.
 </p>
 <ul class="dots">
 <li class="body-text-blue"><span>The Rocket Science Group LLC</span></li>
 </ul>
 <br>
 <h5 class="body-text-blue">Klicken Sie hier, um die Datenschutzbestimmungen des Datenverarbeiters zu lesen</h5>
 <br>
 <p>https://mailchimp.com/legal/privacy/</p>
 <br>
 <h5 class="body-text-blue">Klicken Sie hier, um die Cookie-Richtlinie des Datenverarbeiters zu lesen</h5>
 <br>
 <p>https://mailchimp.com/legal/cookies/</p>

 <br>
 <br>
 <h4>Anfrage per E-Mail oder Telefon</h4>
 <br>
 <p>Wenn Sie uns per E-Mail oder Telefon kontaktieren, wird Ihre Anfrage inklusive aller daraus hervorgehenden personenbezogenen Daten (Name, Anfrage) zum Zwecke der Bearbeitung Ihres Anliegens bei uns gespeichert und verarbeitet. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.</p>
 <p>Die Verarbeitung dieser Daten erfolgt auf Grundlage von Art. 6 Abs. 1 lit. b DSGVO, sofern Ihre Anfrage mit der Erfüllung eines Vertrags zusammenhängt oder zur Durchführung vorvertraglicher Maßnahmen erforderlich ist. In allen übrigen Fällen beruht die Verarbeitung auf unserem berechtigten Interesse an der effektiven Bearbeitung der an uns gerichteten Anfragen (Art. 6 Abs. 1 lit. f DSGVO) oder auf Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO) sofern diese abgefragt wurde. </p>
 <p>Die von Ihnen an uns per Kontaktanfragen übersandten Daten verbleiben bei uns, bis Sie uns zur Löschung auffordern, Ihre Einwilligung zur Speicherung widerrufen oder der Zweck für die Datenspeicherung entfällt (z. B. nach abgeschlossener Bearbeitung Ihres Anliegens). Zwingende gesetzliche Bestimmungen – insbesondere gesetzliche Aufbewahrungsfristen – bleiben unberührt.</p>
 <br>

 <br>
 <br>
 <h2>5. Newsletter</h2>
 <br>
 <br>
 <h3>Newsletterdaten</h3>
 <br>
 <p>Wenn Sie den auf der Website angebotenen Newsletter beziehen möchten, benötigen wir von Ihnen eine EMail- Adresse sowie Informationen, welche uns die Überprüfung gestatten, dass Sie der Inhaber der angegebenen E-Mail-Adresse sind und mit dem Empfang des Newsletters einverstanden sind. Weitere Daten werden nicht bzw. nur auf freiwilliger Basis erhoben. Diese Daten verwenden wir ausschließlich für den Versand der angeforderten Informationen und geben diese nicht an Dritte weiter. </p>
 <p>Die Verarbeitung der in das Newsletteranmeldeformular eingegebenen Daten erfolgt ausschließlich auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Die erteilte Einwilligung zur Speicherung der Daten, der E-Mail-Adresse sowie deren Nutzung zum Versand des Newsletters können Sie jederzeit widerrufen, etwa über den „Austragen“-Link im Newsletter. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge bleibt vom Widerruf unberührt. </p>
 <p>Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu Ihrer Austragung aus dem Newsletter bei uns bzw. dem Newsletterdiensteanbieter gespeichert und nach der Abbestellung des Newsletters aus der Newsletterverteilerliste gelöscht. Daten, die zu anderen Zwecken bei uns gespeichert wurden bleiben hiervon unberührt. </p>
 <p>Nach Ihrer Austragung aus der Newsletterverteilerliste wird Ihre E-Mail-Adresse bei uns bzw. dem Newsletterdiensteanbieter ggf. in einer Blacklist gespeichert, um künftige Mailings zu verhindern. Die Daten aus der Blacklist werden nur für diesen Zweck verwendet und nicht mit anderen Daten zusammengeführt. </p>
 <p>Dies dient sowohl Ihrem Interesse als auch unserem Interesse an der Einhaltung der gesetzlichen Vorgaben beim Versand von Newslettern (berechtigtes Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO). Die Speicherung in der Blacklist ist zeitlich nicht befristet. Sie können der Speicherung widersprechen, sofern Ihre Interessen unser berechtigtes Interesse überwiegen.</p>
 <br>
 <br>
 <h3>MailChimp - Newsletterversand + Erfolgsmessung</h3>
 <br>
 <p>minime nutzt für den Versand des Newsletters den Dienst von MailChimp, 512 Means St. Suite 404, Atlanta, GA 30318, USA. Dieser Dienst ermöglicht von minime die interne Verwaltung einer Datenbank mit Email-Kontakten, um mit den Nutzern per Email kommunizieren zu können.</p>
 <p>Der Dienst verwaltet Daten darüber, an welchem Datum und zu welcher Uhrzeit Emails gelesen wurden, sowie darüber, wann der Nutzer mit eingehenden Emails interagiert hat, beispielsweise durch Klicken auf Links, die in der Email enthalten sind. Dies erfolgt durch sogenannte Web-Beacons, auch Tracking-Pixel genannt. Das sind kleine Bilddateien, die eine Auswertung des Nutzerverhaltens ermöglichen. Der Nutzer kann diesem Tracking jederzeit widersprechen, indem er sich vom Newsletter abmeldet. Eine solche Auswertung ist auch dann nicht möglich, wenn der Nutzer in seinem Email-Programm die Anzeige von Bildern standardmäßig deaktiviert hat. In diesem Fall kann der Newsletter jedoch nicht vollständig angezeigt werden und der Nutzer kann eventuell nicht alle Funktionen vollumfänglich nutzen.</p>
 <br>
 <br>
 <h3> 
Rechtsgrundlage </h3>
 <br>
 <p>Die Datenverarbeitung erfolgt auf Grundlage Ihrer Einwilligung (Art. 6 Abs. 1 lit. a DSGVO). Sie können diese Einwilligung jederzeit widerrufen. Die Rechtmäßigkeit der bereits erfolgten Datenverarbeitungsvorgänge 
bleibt vom Widerruf unberührt.
</p>
 <br>
 <br>
 <h3>Speicherdauer</h3>
 <br>
 <p>Die von Ihnen zum Zwecke des Newsletter-Bezugs bei uns hinterlegten Daten werden von uns bis zu Ihrer Austragung aus dem Newsletter bei uns bzw. dem Newsletterdiensteanbieter gespeichert und nach der Abbestellung des Newsletters aus der Newsletterverteilerliste gelöscht. Daten, die zu anderen Zwecken bei uns gespeichert wurden bleiben hiervon unberührt. </p>
 <p>Nach Ihrer Austragung aus der Newsletterverteilerliste wird Ihre E-Mail-Adresse bei uns bzw. dem Newsletterdiensteanbieter ggf. in einer Blacklist gespeichert, um künftige Mailings zu verhindern. Die Daten aus der Blacklist werden nur für diesen Zweck verwendet und nicht mit anderen Daten zusammengeführt. Dies dient sowohl Ihrem Interesse als auch unserem Interesse an der Einhaltung der gesetzlichen Vorgaben beim Versand von Newslettern (berechtigtes Interesse im Sinne des Art. 6 Abs. 1 lit. f DSGVO). Die Speicherung in der Blacklist ist zeitlich nicht befristet. Sie können der Speicherung widersprechen, sofern 
Ihre Interessen unser berechtigtes Interesse überwiegen. 
</p>
<p>Näheres entnehmen Sie den Datenschutzbestimmungen von Mailchimp unter: 
https://mailchimp.com/legal/.</p>
 <br>
 <br>
 <h3>Abschluss eines Vertrags über Auftragsverarbeitung</h3>
 <br>
 <p>Wir haben einen Vertrag über Auftragsverarbeitung mit Mailchimp abgeschlossen, in dem wir Mailchimp verpflichten, die Daten unserer Kunden zu schützen und sie nicht an Dritte weiterzugeben. </p>

</div>

<%= partial "partials/footer" %>
