<div id="fachkreise" class="header background-white py-3 bg-header-purple">
  <div class="container">
    <div class="px-lg-5 px-3 header-space">
      <div class="d-block d-sm-flex justify-content-between align-items-end">
        <div class="flex-grow-1">
          <h1 class="text-uppercase my-3 my-md-4 my-lg-5 text-start">Bewährte Therapietools - Digital neu entdecken</h1>
          <h3 class="mb-3 mb-md-4 mb-lg-5 text-start">minime bringt Therapie und Alltag zusammen - spielerisch und interaktiv.</h3>
          <p class="block-text text-start text-md-start text-lg-start text-xl-start pt-3">
            Unser Mitgründer Paul Schneeweiß ist Psychologe (M.Sc.) und Kinder- und Jugendlichenpsychotherapeut für Verhaltenstherapie.
            <br>
            <br>
            Er setzt sich leidenschaftlich mit Fallkonzeptionen und therapeutischen Materialien auseinander. Hierzu gibt er Workshops und Seminare an Ausbildungsinstituten. Paul gibt Interessierten sehr gerne eine persönliche Einfürhung zu minime.</p>
        </div>
        <div class="text-center">
          <%= image_tag 'team/paul.png', class: "fachkreise-header-img" %>
          <p class="">Sprich doch mal mit Paul!</p>
          <a href="https://calendly.com/paul-minime-health/30min" type="button" class="btn-purple shadow-none mt-3">Termin vereinbaren</a>
        </div>
      </div>
    </div>
  </div>
</div>
